/* Global */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

.container {
    position:relative;
    width:1186px;
    }
body {
	background:#eeeeee;
	color:#000;
	font-family:'Open Sans', Arial, sans-serif;
	}
p, li {
    font-size:20px;
    font-weight:300;
    line-height:1.5em;
    }
li {
    margin-bottom:10px;
    }
ul ul {
    list-style-type:disc;
    margin-top:10px;
    }
.modal-body ol {
    list-style-position:inside;
    }
.modal-body ol li {
    position:relative;
    }
.modal-body ol li a {
    left:30px;
    position:absolute;
    }
.slide {
	background:#ffffff;
	height:575px;
	overflow:hidden;
	position:relative;
	width:100%;
	}
.slide-num {
	font-size:18px;
	font-weight:300;
	padding:10px 25px;
	position:absolute;
	right:0;
	top:0;
	}
button.learn-more-btn, a.learn-more-btn {
	background:#d7874a;
	border:0;
	color:#fff;
	cursor:pointer;
	display:block;
	font-size:18px;
	font-weight:300;
	margin:20px 0 0 0;
	padding:10px 15px;
	text-align:center;
	width:250px;
	}
button.learn-more-btn:hover, a.learn-more-btn:hover {
	background:#ac5a31;
	}
ul.button-list {
    list-style:none;
    margin:20px 0 0 -10px;
    padding-left:0;
    }
ul.button-list li {
    margin:10px;
    }
ul.button-list li button {
    background:#000;
    border:0;
    color:#fff;
    font-size:18px;
    font-weight:300;
    line-height:1.5em;
    padding:10px 15px;
    text-align:center;
    width:100%;
    }
.img-caption {
    font-size:14px;
    font-weight:400;
    margin-top:10px;
    text-align:center;
    }
.center {
    text-align:center;
    }
.left {
    text-align:left;
    }
.right {
    text-align:right;
    }
.white {
	color:white;
	}
.slide-header {
	border-left:5px solid #000000;
	margin:5px 0 35px 0;
	padding:0 0 0 15px;
	}
.slide-header:before {
	border-left:2px solid #ffb563;
	bottom:0px;
	content:"";
	display:block;
	left:2px;
	position:absolute;
	right:2px;
	top:0px;
	z-index:-1;
	}
.slide-header.knowledge-check {
    border-bottom:6px solid #ffb563;
    border-left:none;
    border-top:2px solid #ffb563;
    left:21px;
    padding:5px 0;
    position:relative;
    top:-7px;
    width:375px;
    }
.slide-header.knowledge-check:before {
    border-left:0;
    }
h2.slide-title {
	font-size:32px;
	font-weight:800;
	margin:0;
	padding:0 0 5px 0;
	}
h3.slide-subtitle {
	font-size:18px;
	font-weight:300;
	margin:0;
	padding:5px 0;
	}
#reference {
    bottom:12px;
    font-size:12px;
    font-weight:400;
    position:absolute;
    }
#reference a, .reference a {
    color:#000;
    text-decoration:none;
    }
#reference a:hover, .reference a:hover {
    color:#000;
    text-decoration:none;
    }
#reference.left {
	left:30px;
	}
#reference.right {
	right:30px;
	}
#note {
	background:red;
	color:white;
	left:0;
	padding:4px 8px;
	position:absolute;
	top:0;
	width:100%;
    font-size:12px;
    text-transform:uppercase;
	}
.font-20 {
	font-size:20px;
	}
.font-white {
	color:#ffffff;
	}
.font-400 {
    font-weight:400;
    }
.spec-hidden {
	height:1px;
	left:-10000px;
	overflow:hidden;
	position:absolute;
	top:auto;
	width:1px;
	}
div#progress-bar {
    height:40px;
    margin-top:18px;
    padding:0;
	}

.page-selector {
    line-height:38px;
    padding-right:0;
	}

.page-selector input[type="button"] {
    background:none;
    border-bottom:0;
    border-right:0;
    border-top:0;
	}

select#pageNumber_frm {
    background:#778395;
    border:none;
	}

span.current-score {
    line-height:3.5em;
	}

.progress-bar-success {
	background:#778395;
	}

 #xclose { 
 	background:#de6d00;
	}

#next-indicator {
	background:url('../img/next-indicator.png') no-repeat center;
	bottom:11px;
	display:none;
	height:50px;
	position:absolute;
	right:225px;
	width:50px;
	z-index:2;
	}
p.click-text {
    color:#999;
    margin-top:30px;
    }
.dropdown-menu>li>a {
    font-size:14px;
    }
.dropdown-menu>li {
    margin-bottom:0;
    }

/* Knowledge Check */

#kc-results {
	padding:15px;
	}
#kc-results.correct {
	background:#dff0d8;
	}
#kc-results.incorrect {
	background:#f2dede;
	}

/* Title */

.container.title .slide {
	background:transparent url('../img/title-bg.jpg') no-repeat scroll center top;
	}
.course-name {
	background-color:rgba(255, 255, 255, 0.90);
	margin:0 auto;
	margin-top:125px;
	padding:30px 50px;
	width:633px;
	}
h2.course-header {
	border-bottom:6px solid #000;
	border-top:2px solid #000;
	color:#000;
	font-size:43px;
	font-weight:300;
	line-height:1.2em;
	margin:15px 30px;
	padding:15px 0 20px 0;
	text-align:center;
	}
h3.course-sub-header {
	color:#000;
	font-size:22px;
	font-weight:300;
	line-height:1.4em;
	margin:0;
	text-align:center;
	}
.num-circle {
    background:#4e5865;
    border-radius:32px;
    color:#fff;
    font-size:36px;
    font-weight:800;
    height:64px;
    left:-20px;
    line-height:1.7em;
    position:absolute;
    text-align:center;
    top:-20px;
    width:64px;
    }


/* Course Objectives */

.course-intro {
	height:406px;
	padding:35px;
	}
h2.intro-header {
	margin:0 0 20px 0;
	text-transform:uppercase;
	}
.intro-btn {
	background:#005958;
	border:0;
	cursor:pointer;
	font-size:18px;
	font-weight:300;
	margin:20px 0 0 0;
	padding:10px 15px;
	text-align:center;
	width:100%;
	}
.intro-btn:hover {
	background:#007372;
	}

/* Menu */

.menu {
	background:#ffffff;
	border-right:1px solid #eeeeee;
	height:575px;
	left:-200px;
	overflow:auto;
	position:absolute;
	top:0;
	width:200px;
	z-index:200;
	}
.menu.open {
	left:0;
	}
#menu ol {
    margin:0;
    padding:0;
    }
#menu ol li {
    float:left;
    list-style-type:none;
    margin-bottom:0;
    width:100%;
    }
#menu ol li a {
    border-bottom:1px solid #eeeeee;
    color:#428bca;
    float:left;
    font-size:14px;
    font-weight:400;
    line-height:1.5em;
    padding:12px 12px;
    width:100%;
    }
#menu ol li a:hover {
    background:#f2f2f2;
    text-decoration:none;
    }
#menu ol li.disabled {
    color:#dddddd;
    cursor:default;
    }
#menu ol li.disabled:hover {
    background:inherit;
    }


/* Spacing */

.pad-15 {
	padding:15px;
	}
.pad-30 {
	padding:30px;
	}
.mar-25-t {
	margin-top:25px;
	}
.indent-30 {
    padding-left:30px;
    }
.indent-40 {
    padding-left:38px;
    }
.marg-b20 {
	margin-bottom:20px;
	}
.marg-t20 {
	margin-top:20px;
	}
.marg-b10 {
	margin-bottom:10px;
	}
.marg-t10 {
	margin-top:10px;
	}

/* Footer */

.footer {
	background:#ffffff url('../img/footer-bg.png') repeat-x scroll left top;
	font-size:15px;
	height:75px;
	padding:0 25px;
	width:100%;
	}
.nav-btn {
	background:#778395;
	border:none;
	color:white;
	cursor:pointer;
	display:inline-block;
	float:left;
	line-height:40px;
	margin-top:18px;
	padding:0 12px;
	}
.nav-btn:hover {
	background:#8a98ad;
	}
.nav-btn.text {
	background:transparent;
	color:#778395;
	}
.nav-btn.text:hover {
	text-decoration:underline;
	}
.nav-btn.pull-right {
	margin-left:6px;
	}
.nav-btn.disabled {
	background:#bbc1ca;
	cursor:default;
	}
button.nav-btn {
	background:#778395;
	border:none;
	color:white;
	display:inline-block;
	line-height:40px;
	overflow:visible;
	padding:0 12px;
	width:auto;
	}
.footer-faa-logo {
    background:url('../img/footer-faa-logo.png');
    float:right;
    height:65px;
    margin:5px 0 0 20px;
    width:65px;
    }


/* Video/Audio Player */

.mejs-controls .mejs-time-rail span, .mejs-controls .mejs-time-rail a { 
	cursor:default;
    }
.mejs-overlay-button {
    height:200px;
    margin:-100px 0 0 -100px;
    width:200px;
    }
.mejs-overlay:hover .mejs-overlay-button {
    background-position:0 -200px;
    }
.mejs-captions-layer {
	font-size:20px;
	line-height:29px;
	}
.mejs-captions-position {
	bottom:40px;
	}
.mejs-captions-text {
	background:rgba(20, 20, 20, 0.8);
	white-space:normal;
	}
.mejs-container .mejs-controls {
    background:rgba(82,90,102, .7);
    }



.jp-flat-video .jp-full-screen:before {
	font-family:'Glyphicons Halflings';
    content:"\e096";
    font-size:22px;
   }
.jp-flat-video.jp-state-full-screen .jp-full-screen:before {
	content:'\e097';
	font-family:'Glyphicons Halflings';
	}
.jp-flat-video .jp-play:before {
	font-family:'Glyphicons Halflings';
    content:"\e072";
    font-size:22px;
	}
.jp-flat-video.jp-state-playing .jp-play:before {
	font-family:'Glyphicons Halflings';
    content:"\e073";
	}
.jp-flat-video-full {
	z-index:9999;
	}
.jp-flat-audio .jp-full-screen:before {
	font-family:'Glyphicons Halflings';
    content:"\e096";
    font-size:16px;
   }
.jp-flat-audio.jp-state-full-screen .jp-full-screen:before {
	content:'\e097';
	font-family:'Glyphicons Halflings';
	}
.jp-flat-audio .jp-play:before {
	font-family:'Glyphicons Halflings';
    content:"\e072";
    font-size:16px;
	}
.jp-flat-audio.jp-state-playing .jp-play:before {
	font-family:'Glyphicons Halflings';
    content:"\e073";
	}
.jp-flat-audio-full {
	z-index:9999;
	}
.phraseology .jp-flat-audio {
    bottom:0;
    position:absolute;
    }

/* Modals */
.modal-container {
    padding:0;
    width:100% !important;
    }
.modal-1000 {
    width:1000px;
    }
.modal-header {
    border-bottom:1px solid #77808f;
    margin:0 30px;
    padding:15px 0 15px 10px;
    }
.modal-header.no-border {
    border-bottom:0;
    }
.modal-title {
    font-size:18px;
    font-weight:300;
    }
.modal-title-lg {
    font-size:32px;
    font-weight:800;
    }
.modal-body {
    padding:15px 40px;
    }
.modal-body-scroll {
    padding:15px 30px 15px 40px;
    }
.modal-body hr {
    background:#77808f;
    color:#77808f;
    height:1px;
    }
.modal-body hr.orange {
    background:#ffb563;
    color:#ffb563;
    height:3px;
    }
.modal-content {
    border-radius:30px;
    border:2px solid #ffb563;
    background:#fff;
    }
.modal-content, .modal-content p, .modal-content li {
    font-size:18px;
    font-weight:300;
    line-height:1.5em;
    }
button.close {
    font-size:24px;
    font-weight:300;
    text-transform:uppercase;
    }
.centered-video {
    
    }
.border-2 {
    border:2px solid #ffb563;
    }
.sidebar-text {
    border-bottom:6px solid #ffb563;
    border-top:2px solid #ffb563;
    padding:15px 0;
    position:relative;
    right:30px;
    text-align:center;
    width:175px;
    }
.box-link {
    background:#ffb563;
    font-size:20px;
    font-weight:300;
    margin-top:20px;
    padding:5px;
    text-align:center;
    width:100%;
    }
.box-link a {
    color:#000;
    font-style:italic;
    font-weight:600;
    text-decoration:underline;
    }
.img-note {
    font-size:14px;
    font-style:italic;
    margin-top:10px;
    }
.img-note p {
    font-size:14px;
    line-height:1.5em;
    margin-bottom:0;
    }
.col-header {
    border-bottom:6px solid #ffb563;
    border-top:2px solid #ffb563;
    font-size:28px;
    font-weight:800;
    margin:0 auto;
    padding:5px 0;
    text-align:center;
    width:400px;
    }
button.kc-quiz-button {
    background:#4e5865;
    }
.table {
    margin-bottom:0;
    }
.modal-content p.reference {
    font-size:12px;
    font-weight:400;
    line-height:1.5em;
    margin-top:20px;
    }
#up-next {
    display:none;
    margin-top:10px;
    padding:15px;
	}

/* Slate */

#slate {
    display:none;
	}
.slate-container {
    margin:0 auto;
    padding:50px;
    width:100%;
    }
.slate-container h1 {
    font-size:32px;
    font-weight:700;
    line-height:1.3em;
    margin-bottom:20px;
    text-align:center;
    }
.slate-container h2 {
    font-size:24px;
    font-weight:600;
    line-height:1.5em;
    margin:0 0 10px 0;
    text-align:center;
    }
.slate-container h3 {
    font-size:20px;
    font-weight:700;
    line-height:1.5em;
    padding-bottom:10px;
    }
.slate-container p {
    font-size:16px;
    margin:0;
    text-align:center;
    }
.slate-container p a {
    color:#505153;
    text-decoration:none;
    }
.slide-separator {
    border-bottom:1px solid #999;
    margin:30px 0;
    }
.slate-infina-logo {
    background:url('../img/infina-logo_grey-gold.png') transparent 0 0 no-repeat;
    height:47px;
    margin:0 auto 20px;
    width:200px;
    }
.slate-revisions {
    margin:0 50px;
    }
.slate-revisions p {
    color:#505153;
    font-size:16px;
    font-weight:700;
    line-height:1.5em;
    margin:0 0 15px;
    text-align:left;
    }
.slate-revisions li {
    color:#505153;
    font-size:16px;
    line-height:1.5em;
    }
.slate-btn-container {
    margin:0 auto;
    padding-top:20px;
    text-align:center;
    }
button.slate-btn {
    cursor:pointer;
    font-size:16px;
    height:50px;
    text-align:center;
    width:300px;
    }
.close:hover {
    box-shadow:0;
    }



/* Responsive */

@media (min-width: 1200px) {
	.container {
	    width: 1186px;
		}
	}

@media only screen and (max-width: 1200px) {
	.container {
		width:980px;
		}
	p, li {
	    font-size:18px;
	    }
	.kc-choice-text {
	    font-size:18px !important;
	    }
	.responsive-long {
	    width:90%;
	    line-height:23px !important;
	    }
	ul.button-list li button {
		font-size:16px;
	    }
	}

/* Chrome Modal Scrolling Fix */

 .modal.fade.in {
    transform:translateZ(0);
    -webkit-transform:translateZ(0);
	}
.close {
	opacity:.8;
	}

#xclose {
	/*background:transparent url('http://www.gifmania.co.uk/Animated-Letters-Animated-Gifs/Animated-Alphabet/Letters-X/x-letter15-27545.gif') no-repeat scroll center center;*/
	background:#888888;
	border:none;
	color:white;
	cursor:pointer;
	font-size:22px;
	font-weight:bold;
	height:66px;
	line-height:66px;
	position:absolute;
	right:0;
	text-align:center;
	top:0;
	width:65px;
	}