/* Global */

.border-2 {
    border:2px solid #58ce9e;
    }
.slide-header {
	border-left-color:#58ce9e;
	position:relative;
	z-index:10;
	}
.slide-header:before {
    border-left-color:#58ce9e;
    }
ul.button-list li button, button.learn-more-btn, a.learn-more-btn {
    background:#517f7f;
    }
ul.button-list li button:hover, button.learn-more-btn:hover, a.learn-more-btn:hover {
    background:#0e5b5a;
    text-decoration:none;
    }
a.learn-more-btn {
    height:45px;
    position:relative;
    }
.slide-header.knowledge-check {
    border-bottom-color:#58ce9e;
    border-top-color:#58ce9e;
    }
.mejs-controls .mejs-time-rail .mejs-time-current {
    background:#58ce9e;
    }
.mejs-controls .mejs-time-rail .mejs-time-loaded {
    background:#0e5b5a;
    }
#xclose {
    background:#58ce9e;
    }

/* Modals */

.modal-content {
    border:2px solid #517f7f;
    }

/* Video */

.jp-flat-video .jp-button {
    background:#58ce9e;
    }
.jp-flat-video .jp-play-bar {
    background-color:#0e5b5a;
}

/* Knowledge Check */

div.kc-block.kc-green:before {
    color:#58ce9e;
    content:'\E013';
    font-family:'Glyphicons Halflings';
    font-size:20px;
    left:10px;
    position:absolute;
    }
.kc-green {
    background:#000;
    }
.kc-red {
    background:#ccc;
    }

/* Title */

h2.course-header {
	border-bottom:6px solid #58ce9e;
	border-top:2px solid #58ce9e;
	}
.course-name {
    background-color:rgba(255, 255, 255, 0.92);
    bottom:106px;
    }
.course-name.end {
    bottom:129px;
    }

/* Course Objectives */

.course-bg {
    background:#58ce9e;
	}
.intro-btn {
	background:#0e5b5a;
	}
.intro-btn:hover {
	background:#517f7f;
	}
.course-objectives-video {
    height:390px;
    }

/* Slide 5 */

.slide-5-modal {
    height:400px;
    }
.slide-5-modal div {
    float:left;
    width:50%;
    }
.slide-5-modal div.left {
    padding-right:15px;
    }
.slide-5-modal div.right {
    padding-left:15px;
    }

/* Slide 15 */

.slide-15-scroll {
    height:392px;
    }

/* Slide 18 */

.scenario-box {
    border:1px solid #005a59;
    margin-top:20px;
    width:100%;
    }
.scenario-box ul {
    list-style:none;
    margin-bottom:0;
    padding-left:0;
    }
.scenario-box li.gray {
    background:#77808f;
    color:#fff;
    font-weight:800;
    margin:0;
    padding:10px 20px;
    text-align:center;
    }
.scenario-box li.green {
    background:#e1f3eb;
    color:#000;
    font-weight:300;
    margin:0;
    padding:5px 0;
    text-align:center;
    }
.scenario-box li.white {
    background:#fff;
    color:#000;
    font-weight:300;
    margin:0;
    padding:5px 0;
    text-align:center;
    }

/* Exercises */

#exercise-box {
    height:340px;
    position:relative;
    width:1096px;
    z-index:1;
    }
.exercise-steps {
    bottom:0;
    height:75px;
    padding:5px 25px;
    position:absolute;
    right:30px;
    width:1096px;
    }
.exercise-steps p {
    font-size:18px;
    }
.exercise-steps span {
    color:#005a59;
    font-weight:800;
    }