/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600,800');*/

/*@font-face {
    font-family:Avenier;
    src: url(../../fonts/Avenir.ttf);
	}
@font-face {
    font-family:Avenier Next;
    /*src: url(../../fonts/Avenir Next.ttf);
	}
@font-face {
    font-family:Padalomai;
    src: url(../fonts/padalomai.ttf);
	}*/

/* Delete after Transcripts are added to courses */

/*#reference, .reference, p#reference, p.reference {
    pointer-events:none;
    }*/



footer .trans-btn {
    display:none !important;
    }
.embed-container {
	position:relative;
	padding-bottom:56.25%;
	overflow:hidden;
	/*max-width:1200px;*/
	/*height:auto;*/
	width:1200px;
	height:675px;
	margin:0 auto;
	}
.embed-container iframe, .embed-container object, .embed-container embed {
	position:absolute;
	top:0;
	left:0;
	/*width:100%;
	height:100%;*/
	}


/* Global */

.floating-box {
    background:#000;
    padding:20px;
    position:absolute;
    font-size:20px;
    font-weight:300;
    line-height:1.5em;
    }
.floating-title {
    position:absolute;
    }
.floating-title .slide-title {
    margin:0;
    }
.floating-button {
    position:absolute;
    }


/* Buttons */

button {
    border-radius:0;
    }
button.nav-btn, .nav-btn.text {
    color:#9dadd9;
    background:none;
    font-size:16px;
    }
button.icon-btn {
    background:none;
    border:none;
    }
.icon-btn {
    cursor:pointer;
    position:absolute;
    }
.icon-cust-click-arrow {
    text-shadow:0 0 10px  red;
	-moz-text-shadow:0 0 10px  red;
	-webkit-text-shadow:0 0 10px  red;
	-o-text-shadow:0 0 10px  red;
    }
.icon-cust-click-check {
    text-shadow:0 0 10px  green;
	-moz-text-shadow:0 0 10px  green;
	-webkit-text-shadow:0 0 10px  green;
	-o-text-shadow:0 0 10px  green;
	animation:none !important;
    }
.icon-cust-click-x {
    text-shadow:0 0 10px  DimGray;
	-moz-text-shadow:0 0 10px  DimGray;
	-webkit-text-shadow:0 0 10px  DimGray;
	-o-text-shadow:0 0 10px  DimGray;
	animation:none !important;
    }
.previous-btn, .next-btn {
    text-transform:uppercase;
    font-size:20px !important;
    }


.modal-body .reference, .modal-body .reference a, .modal-body .reference a:hover {
    color:#000;
    font-weight:400;
    }

/* Knowledge Checks */

.kc-quiz-question {
    height:441px;
    }
.kc-choice-label {
    width:60px !important;
    height:60px !important;
    margin-right:15px !important;
    display:table;
    vertical-align:middle;
    }
.kc-choice-text, .kc-choice-inner {
    height:60px !important;
    display:table-cell;
    vertical-align:middle;
    }
button.kc-quiz-button {
    background:#000;
    text-transform:uppercase;
    font-size:20px;
    font-weight:600;
    padding:12px 60px;
    border:0;
    position:absolute;
    bottom:10px;
    left:438px;
}


/* Drag & Drop */

.dragAble, .drop-inner.moved {
    font-weight:400;
    font-size:20px;
    padding:0 20px;
    }
.dropAble-description {
    font-weight:400;
    font-size:14px;
    padding:0 20px !important;
    }
.dragAble, .dropAble-description, .dropAble {
    display:table;
    vertical-align:middle;
    width:100%;
    }
.drag-inner, .description-inner, .drop-inner {
    display:table-cell;
    vertical-align:middle;
    }
.fluid-fix {
    right:0 !important;
    left:calc(100% + 45px) !important;
    width:100% !important;
    }


/* Last Slide */

.lastPage h2 {
    font-size:40px;
    text-align:center;
    color:#fff;
    font-weight:800;
    }
.lastPage h3 {
    font-size:22px;
    text-align:center;
    color:#fff;
    font-weight:400;
    }
body.lastPage h2, body.lastPage h3 {
    width:60%;
    margin:0 auto;
    }
body.lastPage h2 {
    margin-bottom:60px;
    }
.lastPage .col-xs-12 {
    margin-top:22%;
    }
.lastPage .slide-title, .lastPage .header-logos {
    display:none;
    }
.container {
    position:relative;
    width:1186px;
    }
.spec-hidden {
	height:1px;
	left:-10000px;
	overflow:hidden;
	position:absolute;
	top:auto;
	width:1px;
	}
.row {
    margin:0;
    }
.topbar {
    background:red;
    color:#fff;
    font-weight:400;
    width:100%;
    height:30px;
    padding-top:5px;
    }
.topbar-title {
    text-align:left;
    }
.topbar-frame-num {
    text-align:right;
    display:none;
    font-weight:400;
    }
.topbar .slide-num {
    text-align:right;
    /*display:none;*/
    }
.slide {
	/*background:#ffffff;*/
	/*background:url('../local/img/default-bkg.jpg') no-repeat 0 30px;*/
	background:rgba(0,0,0,0.5);
	height:575px;
	overflow:hidden;
	position:relative;
	width:100%;
	}
.slide.slide-container {
    padding:30px 15px;
    }
h1.slide-title {
    color:#fff;
    font-size:40px;
    font-family: Montserrat, Arial, sans-serif;
    font-weight:200;
    margin:30px 45px;
    }
h1.slide-title.bold-title {
    font-weight:800;
    font-size:42px;
    font-style:italic;
    }
h1.slide-title.bold-title.black, .slide-title.black {
    color:#000;
    }
h1.slide-title.bold-title.shadow {
    text-shadow:2px 2px 2px #000;
    }
.slide-content {
    padding:0 30px;
    height:545px;
    position:relative;
    }
body {
	/*background:#eeeeee;*/
    background:url('../local/img/body-bkg.jpg') no-repeat fixed top center;
    -webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	color:#fff;
	font-family:'Open Sans', Arial, sans-serif;
	}
p, li {
    font-size:20px;
    font-weight:300;
    line-height:1.5em;
    }
li {
    margin-bottom:10px;
    }
ul ul {
    list-style-type:disc;
    margin-top:10px;
    }
.slide-num {
	font-size:14px;
	font-weight:400;
	}


/* HTML5 Video */

#html5_container_video_1 {
    height:auto;
    }
.col-xs-8.intro-video #html5_container_video_1 {
    width:729px;
    }
/*.col-xs-8 #html5_container_video_1 {
    width:697px;
    }*/
.full-video-container #html5_container_video_1 {
    width:720px;
    }
.full-video-container {
    margin-left:173px;
    }
.mejs-controls .mejs-time-rail span, .mejs-controls .mejs-time-rail a { 
	cursor:default;
    }
.mejs-overlay-button {
    height:200px;
    margin:-100px 0 0 -100px;
    width:200px;
    }
.mejs-overlay:hover .mejs-overlay-button {
    background-position:0 -200px;
    }
.mejs-captions-layer {
	font-size:20px;
	line-height:29px;
	}
.mejs-captions-position {
	bottom:40px;
	}
.mejs-captions-text {
	background:rgba(20, 20, 20, 0.8);
	white-space:normal;
	}
.mejs-container .mejs-controls {
    /*background:rgba(82,90,102, .7);*/
    background:#000;
    }
#restart_icon {
    float:left;
    background:url(../video-player/controls.fw.png) -66px 0px;
    border:0;
    width:15px;
    height:16px;
    margin:7px 5px;
    }
.mejs-controls .mejs-time-rail span, .mejs-controls .mejs-time-rail a {
    border-radius:0;
    }
.mejs-controls .mejs-time-rail .mejs-time-current {
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    height:8px;
    }
.mejs-controls .mejs-time-rail .mejs-time-total {
    border:1px solid #fff;
    height:10px;
    background:#000;
    }
.mejs-controls .mejs-time-rail .mejs-time-loaded {
    height:8px;
    }


/* Audio */

.phraseology {
    background:#000;
    color:#fff;
    padding:0 30px 10px 30px;
    position:relative;
    }
.phraseology p {
    font-style:italic;
    }
.phraseology h4 {
    color:white;
    margin:0 0 0 20px;
    width:100%;
    height:100px;
    font-size:32px;
    font-weight:600;
    font-style:italic;
    padding:18px 30px;
    }



















button.learn-more, a.learn-more {
	background:#000;
	border:0;
	color:#fff;
	cursor:pointer;
	display:block;
	font-size:18px;
	font-weight:400;
	margin:30px 0 0 0;
	padding:10px 15px;
	text-align:center;
	width:250px;
	height:54px;
	line-height:1.9em;
	text-decoration:none;
	}
a.learn-more:hover, a.learn-more:visited {
    text-decoration:none;
    }
button:focus, a:focus {
	outline:0;
	}
.img-caption {
    font-size:14px;
    font-weight:400;
    margin-top:10px;
    text-align:center;
    }
.center {
    text-align:center;
    }
.left {
    text-align:left;
    }
.right {
    text-align:right;
    }
.white {
	color:white;
	}
.slide-header.knowledge-check {
	border-left:0;
	border-bottom: 8px solid #000;
    left:16px;
    padding:5px 0;
    position:relative;
    top:-7px;
    width:342px;
    height:90px;
    margin-bottom:23px !important
    }
.slide-header.knowledge-check:before {
    border-left:0;
    }
.slide-header.knowledge-check h2.slide-title {
	font-size:32px;
	font-weight:700;
	margin:0;
	padding:0 0 5px 0;
	}
#reference, .reference, p#reference, p.reference {
    bottom:6px;
    font-size:12px;
    font-weight:300;
    position:absolute;
    color:#fff;
    margin:0;
    }
#reference a, .reference a {
    color:#fff;
    text-decoration:underline;
    }
#reference a:hover, .reference a:hover {
    color:#fff;
    text-decoration:none;
    }
#reference.left, .reference.left {
	left:45px;
	}
#reference.right, .reference.right {
	right:46px;
	}
.modal-body #reference.left {
    left:30px;
    }
.modal-body #reference.right {
    right:30px;
    }
#reference.black, #reference.black a, #reference.black a:hover {
    color:#000;
    font-weight:400;
    }
.credit {
    font-size:12px;
    text-align:left;
    }
.instructions {
    font-size:18px;
    color:#788291;
    }
 #xclose { 
 	background:#de6d00;
	}
#next-indicator {
	background:url('../local/img/next-indicator.png') no-repeat center;
	bottom:11px;
	display:none;
	height:50px;
	position:absolute;
	right:300px;
	width:50px;
	z-index:2;
	}
button.close {
    font-size:45px;
    font-weight:700;
    text-transform:uppercase;
    color:#4e5966;
    position:absolute;
    top:12px;
    right:12px;
    line-height:0.5;
    }
.border-3 {
    border:3px solid #000;
    }
.nav-tabs>li>a {
    color:#000;
    /*border-radius:0;*/
    }
.nav-tabs {
    border-color:#788291;
    }
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border-color:#788291;
    border-bottom-color:transparent;
    color:#000;
    }
.nav-tabs>li>a:hover {
    background:#788291;
    color:#fff;
    border-bottom-color:#788291;
    }
.tab-content p:first-child {
    padding-top:15px;
    }
.dropdown-menu>li>a {
    font-size:14px;
    }
.dropdown-menu>li {
    margin-bottom:0;
    }

/* Tooltips */

.tooltip {
    font-size:14px;
    }
.wrapper-tooltip {
    position: relative;
    top:0;
    left:0;
    z-index:100;
	}
.tooltip-container .tooltip {
	background: #ececec;
	top:0;
	color: #000;
	display: block;
	right:0;
	margin-bottom: 15px;
	opacity: 1;
	padding: 20px;
	text-align: center;
	pointer-events: none;
	position: absolute;
	width:400px;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	-o-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-ms-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	}
/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.tooltip-container .tooltip:after {
	border-top: solid transparent 10px;
	border-bottom: solid transparent 10px;
	border-right: solid #ececec 10px;
	bottom: calc(50% - 10px);
	content: " ";
	height: 0;
	right:100%;
	margin-left: 0px;
	position: absolute;
	width: 0;
	}


/* Title */

.container.title .slide {
	background:url('../local/img/title-bg.jpg') no-repeat top left;
	}
h1.intro-title {
    font-family:Padalomai, Arial, sans-serif;
    text-transform:uppercase;
    padding:0;
    margin:0;
    font-size:55px;
    line-height:1.2em;
    position:absolute;
    bottom:20%;
    right:8%;
	}
h1.intro-title span {
    font-size:30px;
    letter-spacing:35px;
    line-height:1em;
    display:block;
    }
h2.intro-subtitle {
    font-size:16px;
    font-weight:600;
    line-height:1.2em;
    position:absolute;
    right:43.1%;
    bottom:13%
    }


/* Knowledge Check */

#kc-results {
	padding:15px;
	}
#kc-results.correct {
	background:#dff0d8;
	}
#kc-results.incorrect {
	background:#f2dede;
	}
#kc-results ol {
    list-style-position:outside;
    /*padding:1.1em;*/
    }
.kc-question span {
	font-weight:100;
    }
.kc-question {
    margin-bottom:30px;
    }
button.kc-quiz-button {
    padding:10px 15px !important;
    font-size:18px !important;
    width:220px !important;
    line-height:inherit !important;
    position:absolute;
    bottom:10px;
    height:54px;
    }
div.kc-block.kc-green:before {
    color:green;
    content:'\E013';
    font-family:'Glyphicons Halflings';
    font-size:20px;
    left:-11px;
    position:absolute;
    }
.kc-green {
    background:#000 !important;
    }
.kc-red {
    background:#ccc !important;
    }
.two-col-kc .col-xs-6 {
    padding:0;
    }
.two-col-kc div.kc-block.kc-green:before {
    left:-26px;
    }
#up-next {
    display:none;
    margin-top:10px;
    padding:15px;
	}
#up-next p {
    margin-bottom:0;
    }
.kc-choice-label {
    background:#788291;
    font-size:22px !important;
    font-weight:800 !important;
    line-height:52px !important;
    }
.kc-choice-text {
    font-weight:400 !important;
    font-size:18px !important;
    line-height:1.3em !important;
    width:990px;
    }
#kc-transition {
    display:none;
    margin-top:20px;
    }
#kc-results {
    padding:20px;
    font-size:18px;
    font-weight:400;
    color:#000;
    }
#kc-results p, #kc-results li {
    color:#000;
    font-size:18px;
    }


/* Modals */

button.close, button.box-close {
    background:url('../local/img/x-btn.png') top left no-repeat;
    width:44px;
    height:44px;
    position:absolute;
    top:8px;
    right:12px;
    line-height:0.5;
    border:0;
    }
.modal {
    z-index:1;
    }
.modal-content {
    /*background:rgba(0,0,0,0.8);*/
    background:#fff;
    border-radius:0;
    padding:15px 30px 30px 30px;
    }
.modal-body {
    padding:0;
    }
.modal-content p, .modal-content li {
    color:#000;
    font-size:18px;
    font-weight:400;
    }
h4.modal-title {
    font-size:20px;
    font-weight:600;
    color:#fff;
    text-align:center;
    }
.modal .container-fluid {
    width:100%;
    }
#navModal .modal-lg {
    width:1000px;
    }
#navModal .modal-content {
    padding:0;
    }
#navModal .modal-body {
    padding:0;
    }
.modal-header {
    background:#2d4148;
    color:#fff;
    border:none;
    }
.modal-content {
    padding:0;
    border:0;
    }
.modal-body {
    padding:30px;
    }


/* Glossary & Resources */

table.acronyms td, table.resources td {
    color:#000;
    font-size:18px;
    font-weight:400;
    padding-bottom:15px;
    }
table.acronyms td:first-child, table.resources td:first-child {
    padding-right:40px;
    }


/* Scrollbar */

.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color:#ccc !important;
    }


/* Course Objectives */

.objective-buttons {
    margin-top:62px;
    }
.objective-buttons button {
    background:red;
    position:relative;
    border:0;
    display:block;
    margin-bottom:40px;
    margin-left:35px;
    width:300px;
    height:60px;
    color:#fff;
    font-size:18px;
    font-weight:400;
    }
.objective-buttons button span.glyphicon {
    position:absolute;
    left:2%;
    top:22%;
    font-size:40px;
    margin-top:-3px;
    pointer-events:none;
    color:white;
    float:left;
    }
.modal-body .modal-nav-left {
    width:229px;
    height:440px;
    float:left;
    }
.modal-body .modal-nav-right {
    background:#fff;
    float:left;
    width:771px;
    height:440px;
    padding:30px;
    }
.modal-body .modal-nav-right p {
    font-size:22px;
    font-weight:400;
    color:#000;
    margin-bottom:26px;
    }

/* Menu */

.menu {
	background:#ffffff;
	border-right:1px solid #eeeeee;
	height:575px;
	left:-200px;
	overflow:auto;
	position:absolute;
	top:0;
	width:200px;
	z-index:200;
	}
.menu.open {
	left:0;
	}
#menu ol {
    margin:0;
    padding:0;
    }
#menu ol li {
    float:left;
    list-style-type:none;
    margin-bottom:0;
    width:100%;
    }
#menu ol li a {
    border-bottom:1px solid #eeeeee;
    color:#428bca;
    float:left;
    font-size:14px;
    font-weight:400;
    line-height:1.5em;
    padding:12px 12px;
    width:100%;
    }
#menu ol li a:hover {
    background:#f2f2f2;
    text-decoration:none;
    }
#menu ol li.disabled {
    color:#dddddd;
    cursor:default;
    }
#menu ol li.disabled:hover {
    background:inherit;
    }


/* Footer */

footer {
	/*background:#ffffff url('../img/footer-bg.png') repeat-x scroll left top;*/
	background:#000;
	font-size:15px;
	height:75px;
	padding:0 25px;
	width:100%;
	}
.nav-btn {
	background:none;
	border:none;
	color:white;
	cursor:pointer;
	display:inline-block;
	float:left;
	line-height:40px;
	margin-top:16px;
	padding:0 12px;
	font-weight:400;
	font-size:16px;
	}
.nav-btn.previous-btn, .nav-btn.next-btn {
    font-size:20px;
    text-transform:uppercase;
    }
.nav-btn:hover {
	color:#fff !important;
	}
.nav-btn.pull-right {
	margin-left:6px;
	}
.nav-btn.disabled {
	color:#666;
	cursor:default;
	}
.nav-btn.disabled:hover {
	color:#666 !important;
	cursor:default;
	}
.footer-logos {
    background:url('../img/footer-logos.png') no-repeat top right;
    float:right;
    height:65px;
    margin:12px 0 0 20px;
    width:110px;
    }


/* HTML5 Video */

/*#html5_container_video_1 {
    height:auto;
    }
.col-xs-8.intro-video #html5_container_video_1 {
    width:729px;
    }
.col-xs-8 #html5_container_video_1 {
    width:697px;
    }
.full-video-container #html5_container_video_1 {
    width:720px;
    }
.full-video-container {
    margin-left:173px;
    }
.mejs-controls .mejs-time-rail span, .mejs-controls .mejs-time-rail a { 
	cursor:default;
    }
.mejs-overlay-button {
    height:200px;
    margin:-100px 0 0 -100px;
    width:200px;
    }
.mejs-overlay:hover .mejs-overlay-button {
    background-position:0 -200px;
    }
.mejs-captions-layer {
	font-size:20px;
	line-height:29px;
	}
.mejs-captions-position {
	bottom:40px;
	}
.mejs-captions-text {
	background:rgba(20, 20, 20, 0.8);
	white-space:normal;
	}
.mejs-container .mejs-controls {
    background:rgba(82,90,102, .7);
    }*/
/*.restart-btn-space {
    width:26px;
    height:26px;
    }
#restart-btn {
    position:absolute;
    right:39px;
    bottom:7px;
    background:url(../video-player/controls.fw.png) -66px 0px;
    border:0;
    width:15px;
    height:16px;
    z-index:2147483647;
    }
.mejs-fullscreen #restart-btn {
    right:52px;
    }*/
#restart_icon {
    float:left;
    background:url(../video-player/controls.fw.png) -66px 0px;
    border:0;
    width:15px;
    height:16px;
    margin:7px 5px;
    }


/* Slate */

#slate {
    display:none;
	}
.slate-container {
    margin:0 auto;
    padding:50px;
    width:100%;
    }
.slate-container h1 {
    font-size:32px;
    font-weight:700;
    line-height:1.3em;
    margin-bottom:20px;
    text-align:center;
    }
.slate-container h2 {
    font-size:24px;
    font-weight:600;
    line-height:1.5em;
    margin:0 0 10px 0;
    text-align:center;
    }
.slate-container h3 {
    font-size:20px;
    font-weight:700;
    line-height:1.5em;
    padding-bottom:10px;
    }
.slate-container p {
    font-size:16px;
    margin:0;
    text-align:center;
    }
.slate-container p a {
    color:#505153;
    text-decoration:none;
    }
.slide-separator {
    border-bottom:1px solid #999;
    margin:30px 0;
    }
.slate-infina-logo {
    background:url('../local/img/infina-logo_grey-gold.png') transparent 0 0 no-repeat;
    height:47px;
    margin:0 auto 20px;
    width:200px;
    }
.slate-revisions {
    margin:0 50px;
    }
.slate-revisions p {
    color:#505153;
    font-size:16px;
    font-weight:700;
    line-height:1.5em;
    margin:0 0 15px;
    text-align:left;
    }
.slate-revisions li {
    color:#505153;
    font-size:16px;
    line-height:1.5em;
    }
.slate-btn-container {
    margin:0 auto;
    padding-top:20px;
    text-align:center;
    }
button.slate-btn {
    cursor:pointer;
    font-size:16px;
    height:50px;
    text-align:center;
    width:300px;
    }
.close:hover {
    box-shadow:0;
    }
.no-pad-left {
    padding-left:0;
    }
.no-pad-right {
    padding-right:0;
    }


/* Carousel */

/*.slide-content.carousel {
    padding:0 3px;
    }
.carousel.slide {
    height:440px;
    }
.carousel-inner {
    width:1066px;
    height:100%;
    margin:0 27px;
    }
.slide-alt {
    width:1156px;
    position:relative;
    overflow:hidden;
    height:575px;
    }
a.left.carousel-control > .glyphicon-chevron-left {
  left:25%!important;
	}
a.right.carousel-control > .glyphicon-chevron-right {
  right:25%!important;
	}
.carousel-control.right, .carousel-control.left {
  background-image:none;
	}
.carousel-control {
  color:#77808f!important;
	}
#carousel-example-generic .slide-num {
    display:none;
    }
.carousel-inner .item {
    padding:0;
    height:100%;
    width:1066px;
    position:relative;
    }*/






/* Chrome Modal Scrolling Fix */

 .modal.fade.in {
    transform:translateZ(0);
    -webkit-transform:translateZ(0);
	}
.close {
	opacity:1.0;
	}

#xclose {
	/*background:transparent url('http://www.gifmania.co.uk/Animated-Letters-Animated-Gifs/Animated-Alphabet/Letters-X/x-letter15-27545.gif') no-repeat scroll center center;*/
	background:none;
	border:none;
	color:white;
	cursor:pointer;
	font-size:50px;
	font-weight:800;
	height:66px;
	line-height:66px;
	position:absolute;
	right:30px;
	text-align:center;
	top:16px;
	width:65px;
	}


/* Responsive */

@media (min-width: 1200px) {
	.container {
	    width: 1186px;
		}
	}


@media only screen and (max-width: 1200px) {
	.container {
		width:980px;
		}
	p, li {
	    font-size:18px;
	    }
	ul.button-list li button {
		font-size:16px;
	    }

	/* Course Objectives */

	.col-xs-8.intro-video #html5_container_video_1 {
	    width:560px !important;
	    }
	.col-xs-8.intro-video #html5_container_video_1 #restart-btn {
	    right:72px;
	    }
	.objective-buttons {
	    margin-top:24px;
	    }
	.objective-buttons button {
	    width:265px;
	    margin-left:0;
	    padding-left:45px;
	    }

	/* Knowledge Check */

	.kc-choice-text {
	    font-size:18px !important;
	    width:785px;
	    }
	button.kc-quiz-button {
	    left:365px;
	    }
	.responsive-long {
	    width:90%;
	    line-height:23px !important;
	    }

	/* Drag & Drop */
	.description-inner {
	    font-size:13px;
	    }

	/* Video */

	.col-xs-8 #html5_container_video_1 {
	    width:544px;
	    }
	.full-video-container {
	    margin-left:70px;
	    }

	/* Audio */

	.phraseology p, .phraseology h4 {
	    font-size:16px;
	    }

	}
