/* Custom Glyphicons */

@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/icomoon.eot?92xk9h');
    src:  url('../../fonts/icomoon.eot?92xk9h#iefix') format('embedded-opentype'),
      url('../../fonts/icomoon.ttf?92xk9h') format('truetype'),
      url('../../fonts/icomoon.woff?92xk9h') format('woff'),
      url('../../fonts/icomoon.svg?92xk9h#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-cust-check:before {
    content: "\e900";
  }
  .icon-cust-chute:before {
    content: "\e901";
  }
  .icon-cust-glossary:before {
    content: "\e907";
  }
  .icon-cust-i:before {
    content: "\e908";
  }
  .icon-cust-menu:before {
    content: "\e909";
  }
  .icon-cust-next:before {
    content: "\e90a";
  }
  .icon-cust-previous:before {
    content: "\e90b";
  }
  .icon-cust-resources:before {
    content: "\e90c";
  }
  .icon-cust-transcript:before {
    content: "\e90d";
  }
  .icon-cust-click-arrow:before {
    content: "\e904";
  }
  .icon-cust-click-check:before {
    content: "\e905";
  }
  .icon-cust-click-x:before {
    content: "\e906";
  }
  .icon-cust-left:before {
    content: "\e902";
  }
  .icon-cust-right:before {
    content: "\e903";
  }
  
  
  /* Global */
  
  .topbar {
      background:#c4dbf6;
      color:#000;
      }
  button.nav-btn, .nav-btn.text {
      color:#c23134;
      }
  .text-box {
      /*background:rgba(25,48,75,0.9);*/
      background:#000;
      }
  footer {
      /*background:rgba(25,48,75,0.9);*/
      background:#19304b;
      }
  .modal-header {
      background:#c23134;
      color:#fff;
      }
  
  
  /* Video */
  
  .mejs-controls .mejs-time-rail .mejs-time-current {
      background:#c4dbf6;
      }
  .mejs-controls .mejs-time-rail .mejs-time-loaded {
      background:#19304b;
      }
  .mejs-container .mejs-controls {
      background:#c23134;
      }
  
  
  /* Knowledge Check */
  
  .kc-choice-label {
      background:url('../img/kc-chutes.png') 0 0 no-repeat !important;
      }
  .kc-choice-text {
      /*background:rgba(255,255,255,0.9) !important;*/
      background:#fff;
      color:#19304b;
      }
  .kc-select {
      color:#c23134;
      background:url('../img/kc-chutes.png') -60px 0 no-repeat !important;
      }
  .kc-red {
      background:url('../img/kc-chutes.png') -120px 0 no-repeat !important;
      color:red;
      }
  .kc-green {
      background:url('../img/kc-chutes.png') -180px 0 no-repeat !important;
      color:green;
      }
  button.kc-quiz-button {
      background:#c23134 !important;
      }
  
  
  /* Drag & Drop */
  
  .dropAble-description {
      background:rgba(255,255,255,0.9);
      color:#19304b;
      }
  .dropAble {
      background:rgba(196,219,246,0.8);
      }
  .dropAble.moved {
      background:#2d4148;
      }
  .dragAble {
      color:#19304b;
      background:#fff;
      }
  .controls input {
      background:#c23134;
      }
  
  
  /* Slide 1 */
  
  h1.intro-title {
      color:#c23134;
      bottom:40px;
      left:35px;
      right:auto;
      }
  h1.intro-title span {
      letter-spacing:35px;
      }
  h2.intro-subtitle {
      bottom:145px;
      left:38px;
      right:auto;
      color:#c23134;
      }
  
  
  /* Slide 2 */
  
  .objective-buttons button {
      background:#c23134;
      color:#fff;
      }
  .objective-buttons button:hover {
      background:#c23134;
      color:#fff;
      }
  
  /* Last Page */
  
  .lastPage .slide {
      background:#c23134;
      }