#html5_container_video_1 {
    height:auto;
    }
.col-xs-8.intro-video #html5_container_video_1 {
    width:729px;
    }
/*.col-xs-8 #html5_container_video_1 {
    width:697px;
    }*/
.full-video-container #html5_container_video_1 {
    width:720px;
    }
.full-video-container {
    margin-left:173px;
    }
.mejs-controls .mejs-time-rail span, .mejs-controls .mejs-time-rail a { 
	cursor:default;
    }
.mejs-overlay-button {
    height:200px;
    margin:-100px 0 0 -100px;
    width:200px;
    }
.mejs-overlay:hover .mejs-overlay-button {
    background-position:0 -200px;
    }
.mejs-captions-layer {
	font-size:20px;
	line-height:29px;
	}
.mejs-captions-position {
	bottom:40px;
	}
.mejs-captions-text {
	background:rgba(20, 20, 20, 0.8);
	white-space:normal;
	}
.mejs-container .mejs-controls {
    /*background:rgba(82,90,102, .7);*/
    background:#000;
    }
#restart_icon {
    float:left;
    background:url(../video-player/controls.fw.png) -66px 0px;
    border:0;
    width:15px;
    height:16px;
    margin:7px 5px;
    }
.mejs-controls .mejs-time-rail span, .mejs-controls .mejs-time-rail a {
    border-radius:0;
    }
.mejs-controls .mejs-time-rail .mejs-time-current {
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    height:8px;
    }
.mejs-controls .mejs-time-rail .mejs-time-total {
    border:1px solid #fff;
    height:10px;
    background:#000;
    }
.mejs-controls .mejs-time-rail .mejs-time-loaded {
    height:8px;
    }

    #coin
    {
        position: fixed;
        height: 140;
        width: 120;
        z-index: 1000;
    }