<!DOCTYPE html>
<html lang="en" style="height:100%;">

<head>
	<title>Course Launch Page</title>
	<script src="js/jquery.js"></script>
	<!-- Scorm 1.2 JS APIs -->
	<script src="js/scormfunctions.js" type="text/javascript"></script>
	<script src="js/scormdriver.js" type="text/javascript"></script>
	<script src="js/storedata.js" type="text/javascript"></script>
	<script src="js/progress-data.js" type="text/javascript"></script>
	<script src="js/launchpage.js" type="text/javascript"></script>
	<link href="css/regis.css" rel="stylesheet">
</head>

<body onload="doStart();" onbeforeunload="doUnload(false);" onunload="doUnload();" style="height:100%; margin:0; background-color: #304A68; overflow:hidden;">
	<div class="regis-bar">
		<div class="container">
			<h2 class="pull-left">
				<a href="#" title="REGIONAL INFORMATION SYSTEM (REGIS)" onclick="parent.loadDashboard()">Regional Information System (REGIS)</a>
			</h2>
			<div class="pull-right">
				<div class="coin-counter pull-left">
					<i style="display:inline-block;" class="icon icon-coinSack" id="coinss"></i>
					<span class="ng-binding">x 0</span>
				</div>
				<ul class="list-inline pull-left">
					<li>
						<i title="Help" class="show-window icon icon-help"></i>
					</li>
					<li>
						<i title="Toolbox" class="show-window icon icon-briefcase"></i>
					</li>
					<li>
						<i title="Exit" id = "close-scorm" class="icon icon-times"></i>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id ="slide-bar">
		Test
	</div>

	<iframe width="100%" height="100%" id="contentFrame" src="" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"
	 style="min-height: 670px; height: 100%; margin-top: 0px;"></iframe>
	<div id="dark-cover"></div>
	<div vifta-modal="help" role="dialog" aria-hidden="false" class="vifta-modal" id="help-dialog" style="display:none;">
		<div class="vifta-modal-dialog toolbox ng-scope" ng-controller="helpController">
			<div class="header">
				<h2>
					<b>Help</b>
				</h2>
				<a class="pull-right icon icon-times close-window" title="Close Help"></a>
			</div>
			<div class="content">
				<ul>
					<li>
						<a id="navigation-link" href="#">Navigating the REGIS VLE</a>
					</li>
					<li>For online content and technical issues, contact the eLMS Help Desk from 6 AM to 6 PM Central Time at
						<a href="mailto:eLMSHelp@faa.gov">eLMSHelp@faa.gov</a> or 405-954-4568.</li>
				</ul>
			</div>
		</div>
	</div>
	<div vifta-modal="toolbox" role="dialog" aria-hidden="false" class="vifta-modal" id="toolbox-dialog" style="display:none;">
		<div class="vifta-modal-dialog toolbox ng-scope" ng-controller="toolboxController">
			<div class="header">
				<!--<i class="icon icon-briefcase"></i>-->
				<h2>
					<b>Toolbox</b>
				</h2>
				<a class="pull-right icon icon-times close-window" title="Close Toolbox"></a>
			</div>
			<div class="content">
				<p class="links ng-binding">Links</p>
				<ul>
					<!-- ngRepeat: thing in selectedTab.member -->
					<li ng-repeat="thing in selectedTab.member" class="ng-scope">
						<!-- ngIf: !thing.type -->
						<a ng-if="!thing.type" bo-href="thing.value" bo-title="thing.name" target="_blank" class="ng-scope" title="Actual Allocations Window Origin Column Letters"
						 href="toolbox/Actual Allocations Window Origin Column Letters.doc">
							<span bo-html="thing.name">Actual Allocations Window Origin Column Letters</span>
							<span class="ng-binding">(.doc)</span>
						</a>
						<!-- end ngIf: !thing.type -->
						<!-- ngIf: thing.type == 'www' -->
					</li>
					<!-- end ngRepeat: thing in selectedTab.member -->
					<li ng-repeat="thing in selectedTab.member" class="ng-scope">
						<!-- ngIf: !thing.type -->
						<a ng-if="!thing.type" bo-href="thing.value" bo-title="thing.name" target="_blank" class="ng-scope" title="Cross Reference of DELPHI Accounting String Data Elements with REGIS and Other Systems"
						 href="toolbox/Cross Reference of DELPHI Accounting String Data Elements with REGIS and Other Systems.doc">
							<span bo-html="thing.name">Cross Reference of DELPHI Accounting String Data Elements with REGIS and Other Systems</span>
							<span class="ng-binding">(.doc)</span>
						</a>
						<!-- end ngIf: !thing.type -->
						<!-- ngIf: thing.type == 'www' -->
					</li>
					<!-- end ngRepeat: thing in selectedTab.member -->
					<li ng-repeat="thing in selectedTab.member" class="ng-scope">
						<!-- ngIf: !thing.type -->
						<a ng-if="!thing.type" bo-href="thing.value" bo-title="thing.name" target="_blank" class="ng-scope" title="DELPHI Column Headers"
						 href="toolbox/DELPHI Column Headers.doc">
							<span bo-html="thing.name">DELPHI Column Headers</span>
							<span class="ng-binding">(.doc)</span>
						</a>
						<!-- end ngIf: !thing.type -->
						<!-- ngIf: thing.type == 'www' -->
					</li>
					<!-- end ngRepeat: thing in selectedTab.member -->
					<li ng-repeat="thing in selectedTab.member" class="ng-scope">
						<!-- ngIf: !thing.type -->
						<a ng-if="!thing.type" bo-href="thing.value" bo-title="thing.name" target="_blank" class="ng-scope" title="DELPHI Seven Data Elements"
						 href="toolbox/DELPHI Seven Data Elements.pptx">
							<span bo-html="thing.name">DELPHI Seven Data Elements</span>
							<span class="ng-binding">(.pptx)</span>
						</a>
						<!-- end ngIf: !thing.type -->
						<!-- ngIf: thing.type == 'www' -->
					</li>
					<!-- end ngRepeat: thing in selectedTab.member -->
					<li ng-repeat="thing in selectedTab.member" class="ng-scope">
						<!-- ngIf: !thing.type -->
						<a ng-if="!thing.type" bo-href="thing.value" bo-title="thing.name" target="_blank" class="ng-scope" title="Fund Codes and Limiters"
						 href="toolbox/Fund Codes and Limiters.doc">
							<span bo-html="thing.name">Fund Codes and Limiters</span>
							<span class="ng-binding">(.doc)</span>
						</a>
						<!-- end ngIf: !thing.type -->
						<!-- ngIf: thing.type == 'www' -->
					</li>
					<!-- end ngRepeat: thing in selectedTab.member -->
					<li ng-repeat="thing in selectedTab.member" class="ng-scope">
						<!-- ngIf: !thing.type -->
						<a ng-if="!thing.type" bo-href="thing.value" bo-title="thing.name" target="_blank" class="ng-scope" title="Launchpad Dates"
						 href="toolbox/Launchpad Dates.doc">
							<span bo-html="thing.name">Launchpad Dates</span>
							<span class="ng-binding">(.doc)</span>
						</a>
						<!-- end ngIf: !thing.type -->
						<!-- ngIf: thing.type == 'www' -->
					</li>
					<!-- end ngRepeat: thing in selectedTab.member -->
					<li ng-repeat="thing in selectedTab.member" class="ng-scope">
						<!-- ngIf: !thing.type -->
						<a ng-if="!thing.type" bo-href="thing.value" bo-title="thing.name" target="_blank" class="ng-scope" title="Org Code Selection Options"
						 href="toolbox/Org Code Selection Options.doc">
							<span bo-html="thing.name">Org Code Selection Options</span>
							<span class="ng-binding">(.doc)</span>
						</a>
						<!-- end ngIf: !thing.type -->
						<!-- ngIf: thing.type == 'www' -->
					</li>
					<!-- end ngRepeat: thing in selectedTab.member -->
					<li ng-repeat="thing in selectedTab.member" class="ng-scope">
						<!-- ngIf: !thing.type -->
						<a ng-if="!thing.type" bo-href="thing.value" bo-title="thing.name" target="_blank" class="ng-scope" title="REGIS Column Headers"
						 href="toolbox/REGIS Column Headers.doc">
							<span bo-html="thing.name">REGIS Column Headers</span>
							<span class="ng-binding">(.doc)</span>
						</a>
						<!-- end ngIf: !thing.type -->
						<!-- ngIf: thing.type == 'www' -->
					</li>
					<!-- end ngRepeat: thing in selectedTab.member -->
					<li ng-repeat="thing in selectedTab.member" class="ng-scope">
						<!-- ngIf: !thing.type -->
						<a ng-if="!thing.type" bo-href="thing.value" bo-title="thing.name" target="_blank" class="ng-scope" title="REGIS Field Dependencies"
						 href="toolbox/REGIS Field Dependencies.doc">
							<span bo-html="thing.name">REGIS Field Dependencies</span>
							<span class="ng-binding">(.doc)</span>
						</a>
						<!-- end ngIf: !thing.type -->
						<!-- ngIf: thing.type == 'www' -->
					</li>
					<!-- end ngRepeat: thing in selectedTab.member -->
					<li ng-repeat="thing in selectedTab.member" class="ng-scope">
						<!-- ngIf: !thing.type -->
						<a ng-if="!thing.type" bo-href="thing.value" bo-title="thing.name" target="_blank" class="ng-scope" title="Save Options"
						 href="toolbox/Save Options.doc">
							<span bo-html="thing.name">Save Options</span>
							<span class="ng-binding">(.doc)</span>
						</a>
						<!-- end ngIf: !thing.type -->
						<!-- ngIf: thing.type == 'www' -->
					</li>
					<!-- end ngRepeat: thing in selectedTab.member -->
					<li ng-repeat="thing in selectedTab.member" class="ng-scope">
						<!-- ngIf: !thing.type -->
						<a ng-if="!thing.type" bo-href="thing.value" bo-title="thing.name" target="_blank" class="ng-scope" title="Scenario Templates - Suggested Columns to Add"
						 href="toolbox/Scenario Templates - Suggested Columns to Add.doc">
							<span bo-html="thing.name">Scenario Templates - Suggested Columns to Add</span>
							<span class="ng-binding">(.doc)</span>
						</a>
						<!-- end ngIf: !thing.type -->
						<!-- ngIf: thing.type == 'www' -->
					</li>
					<!-- end ngRepeat: thing in selectedTab.member -->
					<li ng-repeat="thing in selectedTab.member" class="ng-scope">
						<!-- ngIf: !thing.type -->
						<a ng-if="!thing.type" bo-href="thing.value" bo-title="thing.name" target="_blank" class="ng-scope" title="Funding Sources"
						 href="toolbox/Funding Sources.doc">
							<span bo-html="thing.name">Funding Sources</span>
							<span class="ng-binding">(.doc)</span>
						</a>
						<!-- end ngIf: !thing.type -->
						<!-- ngIf: thing.type == 'www' -->
					</li>
					<!-- end ngRepeat: thing in selectedTab.member -->
					<li ng-repeat="thing in selectedTab.member" class="ng-scope">
						<!-- ngIf: !thing.type -->
						<!-- ngIf: thing.type == 'www' -->
						<a ng-if="thing.type == 'www'" bo-href="thing.value" bo-title="thing.name" target="_blank" class="ng-scope" title="Financial Services (ABA)"
						 href="https://employees.faa.gov/org/staffoffices/afn/finance/">
							<span bo-html="thing.name">Financial Services (ABA)</span>
						</a>
						<!-- end ngIf: thing.type == 'www' -->
					</li>
					<!-- end ngRepeat: thing in selectedTab.member -->
				</ul>
			</div>
		</div>
	</div>
</body>

</html>