<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>
    
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../css/regis.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="spec-hidden">
      <a href="#" onclick="parent.gotoPage508(0);">Plain text version.</a>
    </div>
    
    <div id="header"></div>
    <div class="container title">
      <div class="slide">
          <div ng-controller="quiz" bindonce="" class="quiz ng-scope">
              <div class="row">
                  <!--Left Navigation-->
                  <div class="col-sm-2 loc" style="position: relative; height: 494px;"> <button title="Back to Menu" class="btn back" id="main-content" ng-click="goTo(sequence)" style="margin-bottom: 48px; display: block;">Back to Menu</button>
                      <h2 bo-html="cMember.getParent().name">Overviews</h2>
                      <h3 bo-html="cMember.name">Knowledge Check</h3>
                  </div>
                  <!--Spacer-->
                  <div class="col-sm-1 col-half col-no-pad"></div>
                  <!--QUIZ-->
                  <div class="col-sm-9 col-no-pad quiz-container">
                      <div class="row quiz-header">
                          <div class="col-sm-12 col-no-pad">
                              <!-- ngIf: quiz.graded -->
                              <!-- ngIf: !quiz.graded -->
                              <div class="btn-group pull-right ng-scope" ng-if="!quiz.graded">
                                  <!-- ngIf: questionIndex == 0 -->
                                  <div ng-if="questionIndex == 0" title="Previous Question" class="btn btn-primary btn-disabled ng-scope" style="margin-right: 10px;">Previous Question</div>
                                  <!-- end ngIf: questionIndex == 0 -->
                                  <!-- ngIf: questionIndex != 0 -->
                                  <!-- ngIf: questionIndex == numQuestions-1 -->
                                  <!-- ngIf: questionIndex != numQuestions-1 --><button ng-if="questionIndex != numQuestions-1" title="Next Question" class="btn btn-primary ng-scope" ng-click="goToQuestion(1)"><span>Next Question</span></button>
                                  <!-- end ngIf: questionIndex != numQuestions-1 -->
                              </div>
                              <!-- end ngIf: !quiz.graded -->
                          </div>
                      </div>
                      <ol class="questions list-unstyled">
                          <li>
                              <div class="row" ng-switch="" on="quiz.graded">
                                  <!--<div class="col-sm-1">-->
                                  <!--<div ng-class="{-->
                                  <!--'answer-state answer-state-correct':quiz.graded && isCorrect(currentQuestion),-->
                                  <!--'answer-state answer-state-incorrect':quiz.graded && !isCorrect(currentQuestion)-->
                                  <!--}"></div>-->
                                  <!--</div>-->
                                  <!-- ngSwitchDefault:  -->
                                  <div class="col-sm-12 ng-scope" style="padding: 0 30px;" ng-switch-default="">
                                      <div class="indent ng-binding">1.</div>
                                      <div class="question-html ng-binding" ng-bind-html="currentQuestion.html">What is the purpose of REGIS?</div>
                                      <ol class="answers list-unstyled">
                                          <!-- ngRepeat: a in currentQuestion.answer -->
                                          <li ng-repeat="a in currentQuestion.answer" class="ng-scope">
                                              <div class="row">
                                                  <div class="col-sm-12" ng-switch="" on="currentQuestion.type">
                                                      <!-- ngSwitchDefault:  -->
                                                      <div class="radio ng-scope" style="margin-left:28px;" ng-switch-default=""> <label style="font-weight: normal;" title="To implement internal controls around the use of money"> <input type="radio" style="margin-top: 4px;" ng-model="currentQuestion.aIdx" vifta-value="$index" class="ng-pristine ng-valid" name="00N" value="0"> <div class="answer-label ng-binding">a.</div> <span ng-bind-html="a.html" class="ng-binding">To implement internal controls around the use of money</span> </label>                                                </div>
                                                      <!-- ngSwitchWhen: Matching -->
                                                  </div>
                                              </div>
                                          </li>
                                          <!-- end ngRepeat: a in currentQuestion.answer -->
                                          <li ng-repeat="a in currentQuestion.answer" class="ng-scope">
                                              <div class="row">
                                                  <div class="col-sm-12" ng-switch="" on="currentQuestion.type">
                                                      <!-- ngSwitchDefault:  -->
                                                      <div class="radio ng-scope" style="margin-left:28px;" ng-switch-default=""> <label style="font-weight: normal;" title="To track funds"> <input type="radio" style="margin-top: 4px;" ng-model="currentQuestion.aIdx" vifta-value="$index" class="ng-pristine ng-valid" name="00P" value="1"> <div class="answer-label ng-binding">b.</div> <span ng-bind-html="a.html" class="ng-binding">To track funds</span> </label>                                                </div>
                                                      <!-- ngSwitchWhen: Matching -->
                                                  </div>
                                              </div>
                                          </li>
                                          <!-- end ngRepeat: a in currentQuestion.answer -->
                                          <li ng-repeat="a in currentQuestion.answer" class="ng-scope">
                                              <div class="row">
                                                  <div class="col-sm-12" ng-switch="" on="currentQuestion.type">
                                                      <!-- ngSwitchDefault:  -->
                                                      <div class="radio ng-scope" style="margin-left:28px;" ng-switch-default=""> <label style="font-weight: normal;" title="To have a standardized cuff record system "> <input type="radio" style="margin-top: 4px;" ng-model="currentQuestion.aIdx" vifta-value="$index" class="ng-pristine ng-valid" name="00R" value="2"> <div class="answer-label ng-binding">c.</div> <span ng-bind-html="a.html" class="ng-binding">To have a standardized cuff record system </span> </label>                                                </div>
                                                      <!-- ngSwitchWhen: Matching -->
                                                  </div>
                                              </div>
                                          </li>
                                          <!-- end ngRepeat: a in currentQuestion.answer -->
                                          <li ng-repeat="a in currentQuestion.answer" class="ng-scope">
                                              <div class="row">
                                                  <div class="col-sm-12" ng-switch="" on="currentQuestion.type">
                                                      <!-- ngSwitchDefault:  -->
                                                      <div class="radio ng-scope" style="margin-left:28px;" ng-switch-default=""> <label style="font-weight: normal;" title="All of the above"> <input type="radio" style="margin-top: 4px;" ng-model="currentQuestion.aIdx" vifta-value="$index" class="ng-pristine ng-valid" name="00T" value="3"> <div class="answer-label ng-binding">d.</div> <span ng-bind-html="a.html" class="ng-binding">All of the above</span> </label>                                                </div>
                                                      <!-- ngSwitchWhen: Matching -->
                                                  </div>
                                              </div>
                                          </li>
                                          <!-- end ngRepeat: a in currentQuestion.answer -->
                                      </ol>
                                      <!-- ngIf: currentQuestion.img != undefined -->
                                  </div>
                                  <!-- ngSwitchWhen: true -->
                              </div>
                          </li>
                      </ol>
                      <div class="row quiz-footer">
                          <div class="col-sm-12">
                              <!-- ngIf: quiz.graded -->
                              <!-- ngIf: !quiz.graded -->
                              <div class="pull-right ng-scope" ng-if="!quiz.graded"> <span style="margin-right: 15px; margin-top: 10px;" class="ng-binding">8 Questions Left</span>
                                  <!-- ngIf: !areAllAnswered() -->
                                  <div ng-if="!areAllAnswered()" title="Grade" class="btn btn-primary btn-disabled ng-scope">Grade</div>
                                  <!-- end ngIf: !areAllAnswered() -->
                                  <!-- ngIf: areAllAnswered() -->
                              </div>
                              <!-- end ngIf: !quiz.graded -->
                          </div>
                      </div>
                  </div>
                  <!--Spacer-->
                  <div class="col-sm-1 col-half col-no-pad"></div>
              </div>
          </div>
      </div> <!-- slide -->
    </div>
    <div id="modals" class="modals"></div>


    
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/include.js"></script>
  </body>
</html>