<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>
    
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../css/regis.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="spec-hidden">
      <a href="#" onclick="parent.gotoPage508(0);">Plain text version.</a>
    </div>
    
    <div id="header"></div>
    <div class="container title">
      <div class="slide">
          <div ng-controller="quiz" bindonce="" class="quiz ng-scope">
              <div class="row">
                  <!--Left Navigation-->
                  <div class="col-sm-2 loc" style="position: relative; height: 494px;"> <button title="Back to Menu" class="btn back" id="main-content" ng-click="goTo(sequence)" style="margin-bottom: 48px; display: block;">Back to Menu</button>
                      <h2 bo-html="cMember.getParent().name">Overviews</h2>
                      <h3 bo-html="cMember.name">Knowledge Check</h3>
                  </div>
                  <!--Spacer-->
                  <div class="col-sm-1 col-half col-no-pad"></div>
                  <!--QUIZ-->
                  <div class="col-sm-9 col-no-pad quiz-container">
                        <div class="row quiz-header">
                            <div class="col-sm-12 col-no-pad">
                                <!-- ngIf: quiz.graded -->
                                <div class="pull-left ng-scope" ng-if="quiz.graded">
                                    <p class="report" style="font-weight: normal;">Please scroll through your answers and review. Your grade appears at the bottom of this screen.</p>
                                </div>
                                <!-- end ngIf: quiz.graded -->
                                <!-- ngIf: !quiz.graded -->
                            </div>
                        </div>
                        <ol class="questions list-unstyled">
                            <li>
                                <div class="row" ng-switch="" on="quiz.graded">
                                    <!--<div class="col-sm-1">-->
                                    <!--<div ng-class="{-->
                                    <!--'answer-state answer-state-correct':quiz.graded && isCorrect(currentQuestion),-->
                                    <!--'answer-state answer-state-incorrect':quiz.graded && !isCorrect(currentQuestion)-->
                                    <!--}"></div>-->
                                    <!--</div>-->
                                    <!-- ngSwitchDefault:  -->
                                    <!-- ngSwitchWhen: true -->
                                    <div class="col-sm-12 ng-scope" style="padding: 0 30px;" ng-switch-when="true">
                                        <!-- ngRepeat: q in questions -->
                                        <div ng-repeat="q in questions" ng-class="$index != questions.length-1 ? 'answers-graded' : ''" class="ng-scope answers-graded">
                                            <div class="indent" bo-text="($index+1) + '.'">1.</div>
                                            <div class="question-html">
                                                <div bo-html="q.html">What is the purpose of REGIS?</div>
                                                <ol class="answers list-unstyled">
                                                    <!-- ngRepeat: a in q.answer -->
                                                    <li ng-repeat="a in q.answer" ng-switch="" on="q.type" class="ng-scope">
                                                        <!-- ngSwitchDefault:  -->
                                                        <div class="answer ng-scope" bo-class="{'answer-correct-selected': a.correct &amp;&amp; q.aIdx == $index, 'answer-wrong-selected': !a.correct &amp;&amp; q.aIdx == $index}" ng-switch-default="">
                                                            <div class="answer-label ng-binding">a.</div> <span ng-bind-html="a.html" class="ng-binding">To implement internal controls around the use of money</span> </div>
                                                        <!--Matching-->
                                                        <!-- ngSwitchWhen: Matching -->
                                                    </li>
                                                    <!-- end ngRepeat: a in q.answer -->
                                                    <li ng-repeat="a in q.answer" ng-switch="" on="q.type" class="ng-scope">
                                                        <!-- ngSwitchDefault:  -->
                                                        <div class="answer ng-scope" bo-class="{'answer-correct-selected': a.correct &amp;&amp; q.aIdx == $index, 'answer-wrong-selected': !a.correct &amp;&amp; q.aIdx == $index}" ng-switch-default="">
                                                            <div class="answer-label ng-binding">b.</div> <span ng-bind-html="a.html" class="ng-binding">To track funds</span> </div>
                                                        <!--Matching-->
                                                        <!-- ngSwitchWhen: Matching -->
                                                    </li>
                                                    <!-- end ngRepeat: a in q.answer -->
                                                    <li ng-repeat="a in q.answer" ng-switch="" on="q.type" class="ng-scope">
                                                        <!-- ngSwitchDefault:  -->
                                                        <div class="answer ng-scope" bo-class="{'answer-correct-selected': a.correct &amp;&amp; q.aIdx == $index, 'answer-wrong-selected': !a.correct &amp;&amp; q.aIdx == $index}" ng-switch-default="">
                                                            <div class="answer-label ng-binding">c.</div> <span ng-bind-html="a.html" class="ng-binding">To have a standardized cuff record system </span> </div>
                                                        <!--Matching-->
                                                        <!-- ngSwitchWhen: Matching -->
                                                    </li>
                                                    <!-- end ngRepeat: a in q.answer -->
                                                    <li ng-repeat="a in q.answer" ng-switch="" on="q.type" class="ng-scope">
                                                        <!-- ngSwitchDefault:  -->
                                                        <div class="answer ng-scope answer-correct-selected" bo-class="{'answer-correct-selected': a.correct &amp;&amp; q.aIdx == $index, 'answer-wrong-selected': !a.correct &amp;&amp; q.aIdx == $index}" ng-switch-default="">
                                                            <div class="answer-label ng-binding">d.</div> <span ng-bind-html="a.html" class="ng-binding">All of the above</span> </div>
                                                        <!--Matching-->
                                                        <!-- ngSwitchWhen: Matching -->
                                                    </li>
                                                    <!-- end ngRepeat: a in q.answer -->
                                                    <div class="well answer-popup answer-correct-not-selected">
                                                        <!-- boIf: !isCorrect(q) -->
                                                        <!-- boIf: isCorrect(q) -->
                                                        <div bo-if=" isCorrect(q)" bo-html="q.popup.correct" class="ng-scope">Correct! REGIS is a financial cuff record system that allows users to allocate, track, record, manage, and reconcile financial transactions against DELPHI. REGIS is an example of an internal control around the use of
                                                            money.</div>
                                                        <!-- boIf: quiz.uid == 'kc_reports' && q.id == 3 -->
                                                    </div>
                                                </ol>
                                            </div>
                                        </div>
                                        <!-- end ngRepeat: q in questions -->
                                        <div ng-repeat="q in questions" ng-class="$index != questions.length-1 ? 'answers-graded' : ''" class="ng-scope answers-graded">
                                            <div class="indent" bo-text="($index+1) + '.'">2.</div>
                                            <div class="question-html">
                                                <div bo-html="q.html">REGIS has the ability to track all types of funds. However, it is designated as the FAA’s official cuff record for the following funds: </div>
                                                <ol class="answers list-unstyled">
                                                    <!-- ngRepeat: a in q.answer -->
                                                    <li ng-repeat="a in q.answer" ng-switch="" on="q.type" class="ng-scope">
                                                        <!-- ngSwitchDefault:  -->
                                                        <div class="answer ng-scope" bo-class="{'answer-correct-selected': a.correct &amp;&amp; q.aIdx == $index, 'answer-wrong-selected': !a.correct &amp;&amp; q.aIdx == $index}" ng-switch-default="">
                                                            <div class="answer-label ng-binding">a.</div> <span ng-bind-html="a.html" class="ng-binding">Operations</span> </div>
                                                        <!--Matching-->
                                                        <!-- ngSwitchWhen: Matching -->
                                                    </li>
                                                    <!-- end ngRepeat: a in q.answer -->
                                                    <li ng-repeat="a in q.answer" ng-switch="" on="q.type" class="ng-scope">
                                                        <!-- ngSwitchDefault:  -->
                                                        <div class="answer ng-scope" bo-class="{'answer-correct-selected': a.correct &amp;&amp; q.aIdx == $index, 'answer-wrong-selected': !a.correct &amp;&amp; q.aIdx == $index}" ng-switch-default="">
                                                            <div class="answer-label ng-binding">b.</div> <span ng-bind-html="a.html" class="ng-binding">Facilities &amp; Equipment Activity 5, referred to as Activity 5</span> </div>
                                                        <!--Matching-->
                                                        <!-- ngSwitchWhen: Matching -->
                                                    </li>
                                                    <!-- end ngRepeat: a in q.answer -->
                                                    <li ng-repeat="a in q.answer" ng-switch="" on="q.type" class="ng-scope">
                                                        <!-- ngSwitchDefault:  -->
                                                        <div class="answer ng-scope" bo-class="{'answer-correct-selected': a.correct &amp;&amp; q.aIdx == $index, 'answer-wrong-selected': !a.correct &amp;&amp; q.aIdx == $index}" ng-switch-default="">
                                                            <div class="answer-label ng-binding">c.</div> <span ng-bind-html="a.html" class="ng-binding">Airports Administrative Funds </span> </div>
                                                        <!--Matching-->
                                                        <!-- ngSwitchWhen: Matching -->
                                                    </li>
                                                    <!-- end ngRepeat: a in q.answer -->
                                                    <li ng-repeat="a in q.answer" ng-switch="" on="q.type" class="ng-scope">
                                                        <!-- ngSwitchDefault:  -->
                                                        <div class="answer ng-scope answer-correct-selected" bo-class="{'answer-correct-selected': a.correct &amp;&amp; q.aIdx == $index, 'answer-wrong-selected': !a.correct &amp;&amp; q.aIdx == $index}" ng-switch-default="">
                                                            <div class="answer-label ng-binding">d.</div> <span ng-bind-html="a.html" class="ng-binding">All of the above </span> </div>
                                                        <!--Matching-->
                                                        <!-- ngSwitchWhen: Matching -->
                                                    </li>
                                                    <!-- end ngRepeat: a in q.answer -->
                                                    <div class="well answer-popup answer-correct-not-selected">
                                                        <!-- boIf: !isCorrect(q) -->
                                                        <!-- boIf: isCorrect(q) -->
                                                        <div bo-if=" isCorrect(q)" bo-html="q.popup.correct" class="ng-scope">Correct! In FY14 REGIS was designated as the FAA’s official agency-wide cuff record system for tracking Operations, Facilities &amp; Equipment Activity 5, and Airports Administrative funds. However, depending on the
                                                            Line of Business or Staff Office, F&amp;E Direct, Reimbursable, and other "colors of money" are also tracked in REGIS. Check with your LOB/SO Senior Financial Manager for information on REGIS implementation in your
                                                            organization.</div>
                                                        <!-- boIf: quiz.uid == 'kc_reports' && q.id == 3 -->
                                                    </div>
                                                </ol>
                                            </div>
                                        </div>
                                        <!-- end ngRepeat: q in questions -->
                                        <div ng-repeat="q in questions" ng-class="$index != questions.length-1 ? 'answers-graded' : ''" class="ng-scope answers-graded">
                                            <div class="indent" bo-text="($index+1) + '.'">3.</div>
                                            <div class="question-html">
                                                <div bo-html="q.html">When accessing REGIS, you will be asked for a Citrix username and password. This will be the same as your Windows username and password. </div>
                                                <ol class="answers list-unstyled">
                                                    <!-- ngRepeat: a in q.answer -->
                                                    <li ng-repeat="a in q.answer" ng-switch="" on="q.type" class="ng-scope">
                                                        <!-- ngSwitchDefault:  -->
                                                        <div class="answer ng-scope answer-correct-selected" bo-class="{'answer-correct-selected': a.correct &amp;&amp; q.aIdx == $index, 'answer-wrong-selected': !a.correct &amp;&amp; q.aIdx == $index}" ng-switch-default="">
                                                            <div class="answer-label ng-binding">a.</div> <span ng-bind-html="a.html" class="ng-binding">True </span> </div>
                                                        <!--Matching-->
                                                        <!-- ngSwitchWhen: Matching -->
                                                    </li>
                                                    <!-- end ngRepeat: a in q.answer -->
                                                    <li ng-repeat="a in q.answer" ng-switch="" on="q.type" class="ng-scope">
                                                        <!-- ngSwitchDefault:  -->
                                                        <div class="answer ng-scope" bo-class="{'answer-correct-selected': a.correct &amp;&amp; q.aIdx == $index, 'answer-wrong-selected': !a.correct &amp;&amp; q.aIdx == $index}" ng-switch-default="">
                                                            <div class="answer-label ng-binding">b.</div> <span ng-bind-html="a.html" class="ng-binding">False </span> </div>
                                                        <!--Matching-->
                                                        <!-- ngSwitchWhen: Matching -->
                                                    </li>
                                                    <!-- end ngRepeat: a in q.answer -->
                                                    <div class="well answer-popup answer-correct-not-selected">
                                                        <!-- boIf: !isCorrect(q) -->
                                                        <!-- boIf: isCorrect(q) -->
                                                        <div bo-if=" isCorrect(q)" bo-html="q.popup.correct" class="ng-scope">Correct! Your Citrix username and password is the same as your Windows username and password – what you use to login to your computer. What’s nice is, when you change your Windows password, your Citrix password will
                                                            automatically change to match.</div>
                                                        <!-- boIf: quiz.uid == 'kc_reports' && q.id == 3 -->
                                                    </div>
                                                </ol>
                                            </div>
                                        </div>
                                        <!-- end ngRepeat: q in questions -->
                                        <div ng-repeat="q in questions" ng-class="$index != questions.length-1 ? 'answers-graded' : ''" class="ng-scope answers-graded">
                                            <div class="indent" bo-text="($index+1) + '.'">4.</div>
                                            <div class="question-html">
                                                <div bo-html="q.html">How do you obtain a REGIS password? </div>
                                                <ol class="answers list-unstyled">
                                                    <!-- ngRepeat: a in q.answer -->
                                                    <li ng-repeat="a in q.answer" ng-switch="" on="q.type" class="ng-scope">
                                                        <!-- ngSwitchDefault:  -->
                                                        <div class="answer ng-scope" bo-class="{'answer-correct-selected': a.correct &amp;&amp; q.aIdx == $index, 'answer-wrong-selected': !a.correct &amp;&amp; q.aIdx == $index}" ng-switch-default="">
                                                            <div class="answer-label ng-binding">a.</div> <span ng-bind-html="a.html" class="ng-binding">Call the NSC Helpdesk </span> </div>
                                                        <!--Matching-->
                                                        <!-- ngSwitchWhen: Matching -->
                                                    </li>
                                                    <!-- end ngRepeat: a in q.answer -->
                                                    <li ng-repeat="a in q.answer" ng-switch="" on="q.type" class="ng-scope">
                                                        <!-- ngSwitchDefault:  -->
                                                        <div class="answer ng-scope" bo-class="{'answer-correct-selected': a.correct &amp;&amp; q.aIdx == $index, 'answer-wrong-selected': !a.correct &amp;&amp; q.aIdx == $index}" ng-switch-default="">
                                                            <div class="answer-label ng-binding">b.</div> <span ng-bind-html="a.html" class="ng-binding">Obtain COR Approval </span> </div>
                                                        <!--Matching-->
                                                        <!-- ngSwitchWhen: Matching -->
                                                    </li>
                                                    <!-- end ngRepeat: a in q.answer -->
                                                    <li ng-repeat="a in q.answer" ng-switch="" on="q.type" class="ng-scope">
                                                        <!-- ngSwitchDefault:  -->
                                                        <div class="answer ng-scope" bo-class="{'answer-correct-selected': a.correct &amp;&amp; q.aIdx == $index, 'answer-wrong-selected': !a.correct &amp;&amp; q.aIdx == $index}" ng-switch-default="">
                                                            <div class="answer-label ng-binding">c.</div> <span ng-bind-html="a.html" class="ng-binding">Contact your LOB/SO Financial Manager </span> </div>
                                                        <!--Matching-->
                                                        <!-- ngSwitchWhen: Matching -->
                                                    </li>
                                                    <!-- end ngRepeat: a in q.answer -->
                                                    <li ng-repeat="a in q.answer" ng-switch="" on="q.type" class="ng-scope">
                                                        <!-- ngSwitchDefault:  -->
                                                        <div class="answer ng-scope answer-correct-selected" bo-class="{'answer-correct-selected': a.correct &amp;&amp; q.aIdx == $index, 'answer-wrong-selected': !a.correct &amp;&amp; q.aIdx == $index}" ng-switch-default="">
                                                            <div class="answer-label ng-binding">d.</div> <span ng-bind-html="a.html" class="ng-binding">Contact your REGIS POC</span> </div>
                                                        <!--Matching-->
                                                        <!-- ngSwitchWhen: Matching -->
                                                    </li>
                                                    <!-- end ngRepeat: a in q.answer -->
                                                    <div class="well answer-popup answer-correct-not-selected">
                                                        <!-- boIf: !isCorrect(q) -->
                                                        <!-- boIf: isCorrect(q) -->
                                                        <div bo-if=" isCorrect(q)" bo-html="q.popup.correct" class="ng-scope">Correct! Your REGIS POC will provide your REGIS username and password. It is recommended that you change your password the first time you log in. As a reminder, REGIS passwords are not case sensitive and do not require
                                                            the use of special characters. They can be any length, but they cannot start with a numeric number.</div>
                                                        <!-- boIf: quiz.uid == 'kc_reports' && q.id == 3 -->
                                                    </div>
                                                </ol>
                                            </div>
                                        </div>
                                        <!-- end ngRepeat: q in questions -->
                                        <div ng-repeat="q in questions" ng-class="$index != questions.length-1 ? 'answers-graded' : ''" class="ng-scope answers-graded">
                                            <div class="indent" bo-text="($index+1) + '.'">5.</div>
                                            <div class="question-html">
                                                <div bo-html="q.html">How can you tell if you do not have access to a REGIS module? </div>
                                                <ol class="answers list-unstyled">
                                                    <!-- ngRepeat: a in q.answer -->
                                                    <li ng-repeat="a in q.answer" ng-switch="" on="q.type" class="ng-scope">
                                                        <!-- ngSwitchDefault:  -->
                                                        <div class="answer ng-scope" bo-class="{'answer-correct-selected': a.correct &amp;&amp; q.aIdx == $index, 'answer-wrong-selected': !a.correct &amp;&amp; q.aIdx == $index}" ng-switch-default="">
                                                            <div class="answer-label ng-binding">a.</div> <span ng-bind-html="a.html" class="ng-binding">It does not appear on the Launchpad</span> </div>
                                                        <!--Matching-->
                                                        <!-- ngSwitchWhen: Matching -->
                                                    </li>
                                                    <!-- end ngRepeat: a in q.answer -->
                                                    <li ng-repeat="a in q.answer" ng-switch="" on="q.type" class="ng-scope">
                                                        <!-- ngSwitchDefault:  -->
                                                        <div class="answer ng-scope answer-correct-selected" bo-class="{'answer-correct-selected': a.correct &amp;&amp; q.aIdx == $index, 'answer-wrong-selected': !a.correct &amp;&amp; q.aIdx == $index}" ng-switch-default="">
                                                            <div class="answer-label ng-binding">b.</div> <span ng-bind-html="a.html" class="ng-binding">It is greyed out on the Launchpad </span> </div>
                                                        <!--Matching-->
                                                        <!-- ngSwitchWhen: Matching -->
                                                    </li>
                                                    <!-- end ngRepeat: a in q.answer -->
                                                    <li ng-repeat="a in q.answer" ng-switch="" on="q.type" class="ng-scope">
                                                        <!-- ngSwitchDefault:  -->
                                                        <div class="answer ng-scope" bo-class="{'answer-correct-selected': a.correct &amp;&amp; q.aIdx == $index, 'answer-wrong-selected': !a.correct &amp;&amp; q.aIdx == $index}" ng-switch-default="">
                                                            <div class="answer-label ng-binding">c.</div> <span ng-bind-html="a.html" class="ng-binding">Your REGIS POC will tell you</span> </div>
                                                        <!--Matching-->
                                                        <!-- ngSwitchWhen: Matching -->
                                                    </li>
                                                    <!-- end ngRepeat: a in q.answer -->
                                                    <li ng-repeat="a in q.answer" ng-switch="" on="q.type" class="ng-scope">
                                                        <!-- ngSwitchDefault:  -->
                                                        <div class="answer ng-scope" bo-class="{'answer-correct-selected': a.correct &amp;&amp; q.aIdx == $index, 'answer-wrong-selected': !a.correct &amp;&amp; q.aIdx == $index}" ng-switch-default="">
                                                            <div class="answer-label ng-binding">d.</div> <span ng-bind-html="a.html" class="ng-binding">It appears in red on the Launchpad</span> </div>
                                                        <!--Matching-->
                                                        <!-- ngSwitchWhen: Matching -->
                                                    </li>
                                                    <!-- end ngRepeat: a in q.answer -->
                                                    <div class="well answer-popup answer-correct-not-selected">
                                                        <!-- boIf: !isCorrect(q) -->
                                                        <!-- boIf: isCorrect(q) -->
                                                        <div bo-if=" isCorrect(q)" bo-html="q.popup.correct" class="ng-scope">Correct! The modules that you have access to are enabled. The others will be greyed out. If you believe you should have access to a module that is not enabled, contact your REGIS POC.</div>
                                                        <!-- boIf: quiz.uid == 'kc_reports' && q.id == 3 -->
                                                    </div>
                                                </ol>
                                            </div>
                                        </div>
                                        <!-- end ngRepeat: q in questions -->
                                        <div ng-repeat="q in questions" ng-class="$index != questions.length-1 ? 'answers-graded' : ''" class="ng-scope answers-graded">
                                            <div class="indent" bo-text="($index+1) + '.'">6.</div>
                                            <div class="question-html">
                                                <div bo-html="q.html">What does the "Help" button do?</div>
                                                <ol class="answers list-unstyled">
                                                    <!-- ngRepeat: a in q.answer -->
                                                    <li ng-repeat="a in q.answer" ng-switch="" on="q.type" class="ng-scope">
                                                        <!-- ngSwitchDefault:  -->
                                                        <div class="answer ng-scope" bo-class="{'answer-correct-selected': a.correct &amp;&amp; q.aIdx == $index, 'answer-wrong-selected': !a.correct &amp;&amp; q.aIdx == $index}" ng-switch-default="">
                                                            <div class="answer-label ng-binding">a.</div> <span ng-bind-html="a.html" class="ng-binding">Allows the user to send an email to the REGIS Team</span> </div>
                                                        <!--Matching-->
                                                        <!-- ngSwitchWhen: Matching -->
                                                    </li>
                                                    <!-- end ngRepeat: a in q.answer -->
                                                    <li ng-repeat="a in q.answer" ng-switch="" on="q.type" class="ng-scope">
                                                        <!-- ngSwitchDefault:  -->
                                                        <div class="answer ng-scope" bo-class="{'answer-correct-selected': a.correct &amp;&amp; q.aIdx == $index, 'answer-wrong-selected': !a.correct &amp;&amp; q.aIdx == $index}" ng-switch-default="">
                                                            <div class="answer-label ng-binding">b.</div> <span ng-bind-html="a.html" class="ng-binding">Displays the REGIS Team POCs and contact information</span> </div>
                                                        <!--Matching-->
                                                        <!-- ngSwitchWhen: Matching -->
                                                    </li>
                                                    <!-- end ngRepeat: a in q.answer -->
                                                    <li ng-repeat="a in q.answer" ng-switch="" on="q.type" class="ng-scope">
                                                        <!-- ngSwitchDefault:  -->
                                                        <div class="answer ng-scope answer-correct-selected" bo-class="{'answer-correct-selected': a.correct &amp;&amp; q.aIdx == $index, 'answer-wrong-selected': !a.correct &amp;&amp; q.aIdx == $index}" ng-switch-default="">
                                                            <div class="answer-label ng-binding">c.</div> <span ng-bind-html="a.html" class="ng-binding">Displays information about the window you are currently viewing </span> </div>
                                                        <!--Matching-->
                                                        <!-- ngSwitchWhen: Matching -->
                                                    </li>
                                                    <!-- end ngRepeat: a in q.answer -->
                                                    <li ng-repeat="a in q.answer" ng-switch="" on="q.type" class="ng-scope">
                                                        <!-- ngSwitchDefault:  -->
                                                        <div class="answer ng-scope" bo-class="{'answer-correct-selected': a.correct &amp;&amp; q.aIdx == $index, 'answer-wrong-selected': !a.correct &amp;&amp; q.aIdx == $index}" ng-switch-default="">
                                                            <div class="answer-label ng-binding">d.</div> <span ng-bind-html="a.html" class="ng-binding">None of the above</span> </div>
                                                        <!--Matching-->
                                                        <!-- ngSwitchWhen: Matching -->
                                                    </li>
                                                    <!-- end ngRepeat: a in q.answer -->
                                                    <div class="well answer-popup answer-correct-not-selected">
                                                        <!-- boIf: !isCorrect(q) -->
                                                        <!-- boIf: isCorrect(q) -->
                                                        <div bo-if=" isCorrect(q)" bo-html="q.popup.correct" class="ng-scope">Correct! The "Help" button will display pop-up information about the current window you are viewing.</div>
                                                        <!-- boIf: quiz.uid == 'kc_reports' && q.id == 3 -->
                                                    </div>
                                                </ol>
                                            </div>
                                        </div>
                                        <!-- end ngRepeat: q in questions -->
                                        <div ng-repeat="q in questions" ng-class="$index != questions.length-1 ? 'answers-graded' : ''" class="ng-scope answers-graded">
                                            <div class="indent" bo-text="($index+1) + '.'">7.</div>
                                            <div class="question-html">
                                                <div bo-html="q.html">
                  <!--Spacer-->
                  <div class="col-sm-1 col-half col-no-pad"></div>
              </div>
          </div>
      </div> <!-- slide -->
    </div>
    <div id="modals" class="modals"></div>


    
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/include.js"></script>
  </body>
</html>