<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Starter Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/regis.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <div class="spec-hidden">
    <a href="#" onclick="parent.gotoPage508(0);">Plain text version.</a>
  </div>

  <div id="header"></div>
  <div class="container title">
    <div class="slide">
      <div ng-controller="quiz" bindonce="" class="quiz ng-scope">
        <div class="row">
          <!--Left Navigation-->
          <div class="col-sm-2 loc" style="position: relative; height: 494px;">
            <button title="Back to Menu" class="btn back" id="main-content" ng-click="goTo(sequence)" style="margin-bottom: 48px; display: block;"  onclick="parent.loadDashboard()">Back to Menu</button>
            <h2 bo-html="cMember.getParent().name">Overviews</h2>
            <h3 bo-html="cMember.name">Knowledge Check</h3>
          </div>
          <!--Spacer-->
          <div class="col-sm-1 col-half col-no-pad"></div>
          <!--QUIZ-->
          <div class="col-sm-9 col-no-pad quiz-container">
            <div class="row quiz-header">
              <div class="col-sm-12 col-no-pad">
                <div class="btn-group pull-right">
                  <div class='button btn btn-primary btn-disabled' id='prev'>
                    <a href='#'>
                      <span>Previous Question</span>
                    </a>
                  </div>
                  <div class='button btn btn-primary' id='next'>
                    <a href='#'>
                      <span>Next Question</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="question-wrapper">
              <ol id='quiz' class="questions list-unstyled"></ol>
            </div>
            <div class="row quiz-footer">
                <div class="col-sm-12">
                   <!-- ngIf: quiz.graded -->  <!-- ngIf: !quiz.graded -->
                   <div class="pull-right ng-scope" ng-if="!quiz.graded">
                      <span style="margin-right: 15px; margin-top: 10px;" class="ng-binding" id = "questions-left">5 Questions Left</span> <!-- ngIf: !areAllAnswered() -->
                      <div ng-if="!areAllAnswered()" title="Grade" id="grade" class="btn btn-primary btn-disabled ng-scope tere">Grade</div>
                      <!-- end ngIf: !areAllAnswered() --> <!-- ngIf: areAllAnswered() --> 
                   </div>
                   <!-- end ngIf: !quiz.graded -->   
                </div>
             </div>
          </div>
          <!--Spacer-->
          <div class="col-sm-1 col-half col-no-pad"></div>
        </div>
      </div>
    </div>
    <!-- slide -->
  </div>
  <div id="modals" class="modals"></div>

  <script type="text/javascript">
    //kc-slider-radio-ckb
    /*var quizName = "REGIS"
    var quizId = "module-regis-check";
    var passingScore = 80;
    var questions = [
      {
        question: "What is the purpose of REGIS?",
        choices: ['a', 'b', 'c', 'd'],
        choicesText: ['To implement internal controls around the use of money', 'To track funds', 'To have a standardized cuff record system', 'All of the above'],
        correctAnswer: 3,
        answered: false,
        gradeText: "Here is some information that will end up in the text underneath the quiz question. I'm going to keep typing until I can make sure that it will go far enough that it will have to have new lines"
      },
      {
        question: "REGIS has the ability to track all types of funds. However, it is designated as the FAA’s official cuff record for the following funds:",
        choices: ['a', 'b', 'c', 'd'],
        choicesText: ['Operations', 'Facilities & Equipment Activity 5, referred to as Activity 5', 'Airports Administrative Funds', 'All of the above'],
        correctAnswer: 3,
        answered: false,
        gradeText: ''
      }, {
        question: "When accessing REGIS, you will be asked for a Citrix username and password. This will be the same as your Windows username and password.",
        choices: ['a', 'b'],
        choicesText: ['True', 'False'],
        correctAnswer: 0,
        answered: false,
        gradeText: ''
      }, {
        question: "How do you obtain a REGIS password?",
        choices: ['a', 'b', 'c', 'd'],
        choicesText: ['Call the NSC Helpdesk', 'Obtain COR Approval', 'Contact your LOB/SO Financial Manager', 'Contact your REGIS POC'],
        correctAnswer: 3,
        answered: false,
        gradeText: ''
      }, {
        question: "How can you tell if you do not have access to a REGIS module?",
        choices: ['a', 'b', 'c', 'd'],
        choicesText: ['It does not appear on the Launchpad', 'It is greyed out on the Launchpad', 'Your REGIS POC will tell you', 'It appears in red on the Launchpad'],
        correctAnswer: 1,
        img: 'kc_regis-question7.jpg',
        answered: false,
        gradeText: ''
      }, {
        question: "What does the HELP button do?",
        choices: ['a', 'b', 'c', 'd'],
        choicesText: ['Allows the user to send an email to the REGIS Team', 'Displays the REGIS Team POCs and contact information', 'Displays information about the window you are currently viewing', 'None of the above'],
        correctAnswer: 2,
        img: 'kc_regis-question7.jpg',
        answered: false,
        gradeText: ''
      }, {
        question: "Match the dates that appear at the bottom of the REGIS Launchpad with their definition:",
        subquestions: ['DELPHI Latest Process Date', 'PA Latest Process Date', 'Overnight Report Latest Process Date'],
        choices: {
          a: 'Date that is color-coded red or blue depending upon if the process has been completed',
          b: 'Date in which data is downloaded from the National Data Center, or NDC',
          c: 'Date in which the Project Authorizations are downloaded from the Funds Control Module, or FCM, into REGIS'
        },
        correctAnswer: ['a', 'c', 'b'],
        img: 'kc_regis-question7.jpg',
        answered: false,
        gradeText: 'e'
      }, {
        question: "You must have Citrix installed on your computer in order to access REGIS.",
        choices: ['a', 'b'],
        choicesText: ['True', 'False'],
        correctAnswer: 0,
        answered: false,
        gradeText: ''
      }
    ];
*/
    var questionCounter = 0; //Tracks question number
  </script>
  <script src="../js/jquery.js"></script>
  <script src="../js/bootstrap.js"></script>
  <script src="../js/include.js"></script>
  
  <script src="../js/quiz-data.js"></script>
  <script src="../js/kc-slider-radio-ckb.js"></script>
</body>

</html>