<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>
    
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../css/regis.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="spec-hidden">
      <a href="#" onclick="parent.gotoPage508(0);">Plain text version.</a>
    </div>
    
    <div id="header"></div>
    <div class="container title">
      <div class="slide">
          <div ng-controller="video" bindonce="" class="video ng-scope" id="main-content">
              <div class="row" id="vertCenterParent">
                  <div class="col-sm-2 loc" style="position: relative; height: 494px"> <button title="Back to Menu" id="firstTab" ng-keydown="firstTabShift($event)" class="btn back" ng-click="backToMenu()" ng-disabled="disableBackToMenu" style="margin-bottom: 48px;">Back to Menu</button>
                      <h2 bo-text="unitTitle">Introduction to the Regional Information System (REGIS) Virtual Learning Environment (VLE)</h2>
                      <h3 class="ng-binding">Navigating the REGIS VLE</h3>
                      <!-- ngIf: showTip -->
                      <div class="box ng-scope" ng-if="showTip" style="position: absolute; bottom: 50px; left: 14px;"> <span><b>TIP:</b><br> For optimal resolution, please expand video to the full screen view by clicking the expand icon &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;in the lower right corner of the video.</span> <i class="icon icon-expand" style="position: absolute; bottom: 34px; left: 8px;"></i>
                          <!-- ngIf: memberState.siblingIndex == 0 -->
                          <!-- ngIf: memberState.siblingIndex != 0 --><a title="Close Tooltip" ng-if="memberState.siblingIndex != 0" ng-click="setShowTip(false)" style="position: absolute; right: 7px; top: 3px;" class="icon icon-small-close ng-scope"></a>
                          <!-- end ngIf: memberState.siblingIndex != 0 -->
                      </div>
                      <!-- end ngIf: showTip -->
                  </div>
                  <div class="col-sm-1 col-half col-no-pad">
                      <!---->
                      <!--<div class="video-nav" ng-switch on="memberState.siblingIndex == 0" style="margin-top: 210px;">-->
                      <!--<a title="Previous Lesson" ng-switch-when="false" id="firstTab" ng-keydown="firstTabShift($event)" href="" ng-click="back()" class="icon icon-back"></a>-->
                      <!--</div>-->
                  </div>
                  <div class="col-sm-9 col-no-pad">
                      <div class="video-container">
                          <div vifta-video="'assets/' + cMember.uid + '.mp4'" vifta-video-scrub-enabled="isScrubEnabled()" vifta-video-name="navigating_regis" vifta-video-autoplay="" class="ng-scope">
                              <div id="vxxg" tabindex="-1" style="visibility: visible;"></div>
                          </div>
                          <!-- ngIf: cMember.asset.x == 1 -->
                      </div>
                  </div>
                  <div class="col-sm-1 col-half col-no-pad">
                      <!--<div class="video-nav" ng-switch on="memberState.isLast || cMember.asset.statusId != 3" style="margin-top: 210px;">-->
                      <!--<a title="Next Lesson" ng-switch-when="false" id="lastTab" ng-keydown="lastTabShift($event)" href="" ng-click="next()" class="icon icon-next"></a>-->
                      <!--</div>		-->
                  </div>
              </div>
          </div>
      </div> <!-- slide -->
    </div>
    <div id="modals" class="modals"></div>


    
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/include.js"></script>
  </body>
</html>