<div class="regis-bar">
        <div class="container">
            <h2 class="pull-left">
                <a href="#" title="REGIONAL INFORMATION SYSTEM (REGIS)" onclick="parent.loadDashboard()">Regional Information System (REGIS)</a>
            </h2>
            <div class="pull-right">
                <div class="coin-counter pull-left">
                    <i style="display:inline-block;" class="icon icon-coinSack"></i>
                    <span class="ng-binding">x 0</span>
                </div>
                <ul class="list-inline pull-left">
                    <li><a href="" title="Help" class="show-window icon icon-help"></a></li>
                    <li><a href="" title="Toolbox"  class="show-window icon icon-briefcase"></a></li>
                    <li><a href="" title="Exit"  class="icon icon-times"></a></li>
                </ul>
            </div>
        </div>
    </div>