<ol id="sidebar-menu">
	<li class="item-1"><a href="slide-1.html">Title slide-1</a></li>
	<li class="item-2"><a href="slide-2.html">Title slide-2</a></li>
	<li class="item-3"><a href="slide-3.html">Title slide-3</a></li>
	<li class="item-4"><a href="slide-4.html">Title slide-4</a></li>
	<li class="item-5"><a href="slide-5.html">Title slide-5</a></li>
	<li class="item-6"><a href="slide-6.html">Title slide-6</a></li>
	<li class="item-7"><a href="slide-7.html">Title slide-7</a></li>
	<li class="item-8"><a href="slide-8.html">Title slide-8</a><ul class="subpage-menu">
		<li class="subItem-1"><a href="slide-8-1.html">Title slide-8-1</a></li>
		<li class="subItem-2"><a href="slide-8-1-1.html">Title slide-8-1-1</a></li>
		<li class="subItem-3"><a href="slide-8-1-2.html">Title slide-8-1-2</a></li>
		<li class="subItem-4"><a href="slide-8-1-3.html">Title slide-8-1-3</a></li>
		<li class="subItem-5"><a href="slide-8-2.html">Title slide-8-2</a></li>
		<li class="subItem-6"><a href="slide-8-3.html">Title slide-8-3</a></li>	
		</ul>
	</li>
	<li class="item-9"><a href="slide-9.html">Title slide-9</a></li>
	<li class="item-10"><a href="slide-10.html">Title slide-10</a></li>
	<li class="item-11"><a href="slide-11.html">Title slide-11</a></li>
	<li class="item-12"><a href="slide-12.html">Title slide-12</a></li>
</ol>


<script> 

	enableSidebarMenu();
    collapseableMenu(8, 1, '.item-7', 1, 'Collapsable Menu ');	
 
</script>
<style>
#menu ol li a.disabled-link {
    color: #626c7b;
}
</style>