<div class="modal fade" id="glossaryModal" tabindex="-1" role="dialog" aria-labelledby="glossaryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="glossaryModalLabel">Course Glossary</h4>
      </div>
      <div class="modal-body">
        <!-- <p>[glossary]</p> -->
        <!-- <h4 class="modal-title" style="padding-bottom:20px">Acronyms</h4> -->
        <table>
          <tr>
            <td><strong>Acronym</strong></td>
            <td><strong>Meaning</strong></td>    
            
          </tr>
          <tr>
            <td>EACT</td>
            <td>Expect Approach Clearance Time</td>    
            
          </tr>
          <tr>
            <td>STAR</td>
            <td>Standard Terminal Arrival</td>    
            
          </tr>
          <tr>
            <td>VOR</td>
            <td>VHF Omnidirectional Range</td>    
            
          </tr>
        </table>
        <hr>
        <!-- <h4 class="modal-title" style="padding-bottom:20px" id="glossaryModalLabel">Glossary</h4> -->
        <p><strong>Arc</strong> The track over the ground of an aircraft flying at a constant distance from a navigational aid by reference to distance measuring equipment (DME).</p>
        <p><strong>Expect Approach Clearance Time (EACT)</strong> The time estimated by the controller at which an aircraft is authorized to start an approach procedure from the Initial Approach Fix (IAF). The EACT corresponds to the time at which the pilot is supposed to fly over the IAF and then start the approach procedure.</p>
        <p><strong>Glideslope</strong> Provides vertical guidance for aircraft during approach and landing.</p>
        <p><strong>Outer Marker (OM)</strong> A marker beacon at or near the glideslope intercept altitude of an ILS approach. It is keyed to transmit two dashes per second on a 400 Hz tone, which is received aurally and visually by compatible airborne equipment. The OM is normally located four to seven miles from the runway threshold on the extended centerline of the runway.</p>
        <p><strong>Tactical Air Navigation (TACAN)</strong> A navigation system used by military aircraft. It provides the user with bearing and distance (slant-range) to a ground or ship-borne station.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="resourcesModal" tabindex="-1" role="dialog" aria-labelledby="resourcesModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="resourcesModalLabel">Course Resources</h4>
      </div>
      <div class="modal-body">
        <p><a href="../resources/7110.65 Air Traffic Control.pdf" target="_blank">JO 7110.65 Air Traffic Control</a></p>
        <p><a href="../resources/7110.65 Air Traffic Control_4-2-1.pdf" target="_blank">JO 7110.65, 4-2-1</a></p>
        <p><a href="../resources/7110.65 Air Traffic Control_4-6-1.pdf" target="_blank">JO 7110.65, 4-6-1</a></p>
        <p><a href="../resources/7110.65 Air Traffic Control_4-6-2.pdf" target="_blank">JO 7110.65, 4-6-2</a></p>
        <p><a href="../resources/7110.65 Air Traffic Control_4-6-4.pdf" target="_blank">JO 7110.65, 4-6-4</a></p>
        <p><a href="../resources/7110.65 Air Traffic Control_4-6-8.pdf" target="_blank">JO 7110.65, 4-6-8</a></p>
        <p><a href="../resources/7110.65 Air Traffic Control_5-5-5.pdf" target="_blank">JO 7110.65, 5-5-5</a></p>
        <p><a href="../resources/7110.65 Air Traffic Control_5-5-6.pdf" target="_blank">JO 7110.65, 5-5-6</a></p>
        <p><a href="../resources/Pilot-Controller-Glossary.pdf" target="_blank">JO 7110.65, Pilot/Controller Glossary</a></p>
        <p><a href="../resources/AIM_basic_4-03-14.pdf" target="_blank">Aeronautical Information Manual (AIM)</a></p>
      </div>
    </div>
  </div>
</div>